{
  "openapi": "3.0.0",
  "info": {
    "title": "Snipp.gg API",
    "description": "Image and video hosting API. Upload, manage, and share media files.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.snipp.gg"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/users/{id}": {
      "get": {
        "summary": "Get user",
        "description": "Retrieve user data. Use `@me` or your user ID to get your own profile including upload count. Use another user ID to get public profile info.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID or `@me` for the authenticated user",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "User data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "description": "User object. For @me: includes id, key, keyHasUploadsAccess, plus, enterprise, verified, suspended, created, uploads. For others: id, plus, verified, suspended, created."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised. No api-key header or invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/upload": {
      "post": {
        "summary": "Upload file",
        "description": "Upload an image or video. Supports PNG, JPG, WebP, GIF, MOV, MP4, MKV. File size limits depend on plan: Free (100 MB), Plus (5 GB), Enterprise (10 GB).",
        "operationId": "upload",
        "parameters": [
          {
            "name": "postprivacy",
            "in": "header",
            "required": false,
            "description": "Privacy for share link: public, unlisted, or private (default)",
            "schema": { "type": "string", "enum": ["public", "unlisted", "private"] }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image or video file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "Upload successful!" },
                    "url": { "type": "string", "description": "Direct URL to the uploaded file" },
                    "post": {
                      "type": "object",
                      "description": "Present when postprivacy is public or unlisted",
                      "properties": {
                        "code": { "type": "string" },
                        "url": { "type": "string", "description": "Share page URL" },
                        "postPrivacy": { "type": "string", "enum": ["public", "unlisted"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No file, unsupported type, or file too large",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "413": {
            "description": "File exceeds 5GB limit",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/uploads": {
      "get": {
        "summary": "List uploads",
        "description": "Get your 30 most recent uploads. Requires an API key with upload access permission.",
        "operationId": "listUploads",
        "responses": {
          "200": {
            "description": "List of recent uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": { "type": "string" },
                          "size": { "type": "string" },
                          "uploaded": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "No permission to access recent uploads",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/deleteUpload": {
      "delete": {
        "summary": "Delete upload",
        "description": "Delete an uploaded file by filename. Requires an API key with upload access permission.",
        "operationId": "deleteUpload",
        "parameters": [
          {
            "name": "file",
            "in": "header",
            "required": true,
            "description": "Filename (32 hex chars + extension, e.g. a1b2c3d4e5f6...png)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "File deleted successfully." }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid file parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "No permission to delete uploads",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/discover": {
      "get": {
        "summary": "Discover feed",
        "description": "Get public uploads for the discover feed. Returns up to 50 items. Plus and Enterprise users do not see ads.",
        "operationId": "discover",
        "responses": {
          "200": {
            "description": "Discover feed uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": { "type": "string" },
                          "code": { "type": "string" },
                          "title": { "type": "string" },
                          "description": { "type": "string" },
                          "created": { "type": "string" },
                          "author": { "type": "string" },
                          "authorUsername": { "type": "string" },
                          "authorAvatar": { "type": "string" },
                          "isVerified": { "type": "boolean" },
                          "isAd": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Your API key from Snipp.gg"
      }
    }
  }
}
