{
  "openapi": "3.0.0",
  "info": {
    "title": "Snipp.gg API",
    "description": "Image and video hosting API. Upload, manage, and share media files.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.snipp.gg",
      "description": "Default. Load-balanced across regions. No upload cap."
    },
    {
      "url": "https://eu-west-1.api.snipp.gg",
      "description": "EU West regional endpoint. Pins uploads and storage to EU West."
    },
    {
      "url": "https://us-west-1.api.snipp.gg",
      "description": "US West regional endpoint. Pins uploads and storage to US West."
    },
    {
      "url": "https://flux.snipp.gg",
      "description": "Alternative host. Capped at 100 MB per upload."
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/users/{id}": {
      "get": {
        "summary": "Get User",
        "description": "Fetch a user profile. Pass `@me` or your own ID for your full account, including keys and limits.",
        "operationId": "getUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/SelfUser"
                        },
                        {
                          "$ref": "#/components/schemas/User"
                        }
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ]
                },
                "examples": {
                  "self": {
                    "summary": "@me",
                    "value": {
                      "user": {
                        "id": "123456789012345678",
                        "username": "playerone",
                        "nickname": "Player One",
                        "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                        "banner": "https://i.snipp.gg/banners/123456789012345678/1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f.png",
                        "bio": "Building things at Snipp",
                        "socials": {
                          "github": "https://github.com/playerone"
                        },
                        "plan": "plus",
                        "verified": false,
                        "staff": false,
                        "partner": false,
                        "translator": false,
                        "bug_hunter_tier": 0,
                        "suspended": false,
                        "created_at": "2026-01-04T09:30:00.000Z",
                        "custom_embed": null,
                        "follower_count": 128,
                        "following_count": 47,
                        "following": false,
                        "blocking": false,
                        "api_key": "aB3xK9mP2qR7sT1vW4yZ6cD8fG0hJ5kL",
                        "key_has_uploads_access": true,
                        "upload_count": 42,
                        "limits": {
                          "max_file_size": 21474836480,
                          "usage": {
                            "used": 1073741824,
                            "limit": 21474836480,
                            "used_percent": 5,
                            "resets_at": "2026-10-04T16:20:00.000Z"
                          },
                          "priority_minutes": {
                            "used": 12,
                            "limit": 100,
                            "used_percent": 12,
                            "resets_at": "2026-10-19T16:20:00.000Z"
                          }
                        }
                      }
                    }
                  },
                  "other": {
                    "summary": "Another user",
                    "value": {
                      "user": {
                        "id": "987654321098765432",
                        "username": "playertwo",
                        "nickname": "Player Two",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "banner": null,
                        "bio": null,
                        "socials": null,
                        "plan": "free",
                        "verified": false,
                        "staff": false,
                        "partner": false,
                        "translator": false,
                        "bug_hunter_tier": 1,
                        "suspended": false,
                        "created_at": "2026-02-18T14:00:00.000Z",
                        "custom_embed": null,
                        "follower_count": 12,
                        "following_count": 30,
                        "following": true,
                        "blocking": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/users/{id}/posts": {
      "get": {
        "summary": "List User Posts",
        "description": "List a user's public posts, newest first. Unlisted, private, draft, team, moderated and restricted posts are never included.",
        "operationId": "listUserPosts",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostPage"
                },
                "example": {
                  "posts": [
                    {
                      "code": "QwEr5678",
                      "url": "https://snipp.gg/p/QwEr5678",
                      "title": "Launch teaser",
                      "description": null,
                      "privacy": "public",
                      "created_at": "2026-09-28T10:00:00.000Z",
                      "view_count": 311,
                      "like_count": 17,
                      "comment_count": 2,
                      "priority": false,
                      "file_count": 1,
                      "files": [
                        {
                          "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                          "url": "https://i.snipp.gg/987654321098765432/a1b2c3d4e5f6789012345678abcdef01.png",
                          "size": 2487312,
                          "mime_type": "image/png",
                          "width": 1920,
                          "height": 1080,
                          "thumbnail_url": null
                        }
                      ],
                      "team_id": null,
                      "author": {
                        "id": "987654321098765432",
                        "username": "playertwo",
                        "nickname": "Player Two",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "verified": false,
                        "plan": "free"
                      },
                      "liked": false
                    }
                  ],
                  "has_more": true,
                  "next_cursor": "eyJ0IjoiMjAyNi0wOS0yOFQxMDowMDowMC4wMDBaIiwiayI6IlF3RXI1Njc4In0"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/users/{id}/report": {
      "post": {
        "summary": "Report User",
        "description": "Report a user to the moderation team.",
        "operationId": "reportUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Optional, up to 200 characters."
                  }
                }
              },
              "example": {
                "reason": "Inappropriate content"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reported": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "reported"
                  ]
                },
                "example": {
                  "reported": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/upload": {
      "post": {
        "summary": "Upload Files",
        "description": "Upload 1 to 50 images or videos. Every upload creates a post. Two or more files form one album unless `post-type: individual` is sent.",
        "operationId": "upload",
        "parameters": [
          {
            "name": "post-privacy",
            "in": "header",
            "required": false,
            "description": "`public`, `unlisted` or `private`. Omitted means `private`.",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "unlisted",
                "private"
              ],
              "default": "private"
            }
          },
          {
            "name": "post-type",
            "in": "header",
            "required": false,
            "description": "`album` or `individual`. Only matters for two or more files.",
            "schema": {
              "type": "string",
              "enum": [
                "album",
                "individual"
              ],
              "default": "album"
            }
          },
          {
            "$ref": "#/components/parameters/IncludeMetadata"
          },
          {
            "$ref": "#/components/parameters/Priority"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "1 to 50 files. Repeat the `file` field."
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Up to 30 characters."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Up to 200 characters."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Direct URL of the first file (`post.files[0].url`)."
                        },
                        "post": {
                          "$ref": "#/components/schemas/Post"
                        },
                        "failed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FailedFile"
                          }
                        }
                      },
                      "required": [
                        "url",
                        "post"
                      ],
                      "description": "One post was created."
                    },
                    {
                      "type": "object",
                      "properties": {
                        "posts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Post"
                          }
                        },
                        "failed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FailedFile"
                          }
                        }
                      },
                      "required": [
                        "posts"
                      ],
                      "description": "Several posts were created (`post-type: individual`)."
                    }
                  ]
                },
                "examples": {
                  "single": {
                    "summary": "One file",
                    "value": {
                      "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                      "post": {
                        "code": "AbCd1234",
                        "url": "https://snipp.gg/p/AbCd1234",
                        "title": "my gaming POV",
                        "description": null,
                        "privacy": "unlisted",
                        "created_at": "2026-10-01T09:15:27.204Z",
                        "view_count": 0,
                        "like_count": 0,
                        "comment_count": 0,
                        "priority": false,
                        "file_count": 1,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": null,
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                          "verified": false,
                          "plan": "plus"
                        },
                        "liked": false,
                        "moderated": false,
                        "restricted": false
                      }
                    }
                  },
                  "album": {
                    "summary": "Album",
                    "value": {
                      "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                      "post": {
                        "code": "AlBm5678",
                        "url": "https://snipp.gg/p/AlBm5678",
                        "title": "Match highlights",
                        "description": null,
                        "privacy": "public",
                        "created_at": "2026-10-01T09:15:27.204Z",
                        "view_count": 0,
                        "like_count": 0,
                        "comment_count": 0,
                        "priority": false,
                        "file_count": 2,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          },
                          {
                            "name": "b2c3d4e5f6789012345678abcdef0102.png",
                            "url": "https://i.snipp.gg/123456789012345678/b2c3d4e5f6789012345678abcdef0102.png",
                            "size": 1843210,
                            "mime_type": "image/png",
                            "width": 1280,
                            "height": 720,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": null,
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                          "verified": false,
                          "plan": "plus"
                        },
                        "liked": false,
                        "moderated": false,
                        "restricted": false
                      }
                    }
                  },
                  "individual": {
                    "summary": "Individual posts with a failed file",
                    "value": {
                      "posts": [
                        {
                          "code": "InDv0001",
                          "url": "https://snipp.gg/p/InDv0001",
                          "title": null,
                          "description": null,
                          "privacy": "public",
                          "created_at": "2026-10-01T09:15:27.204Z",
                          "view_count": 0,
                          "like_count": 0,
                          "comment_count": 0,
                          "priority": false,
                          "file_count": 1,
                          "files": [
                            {
                              "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                              "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                              "size": 2487312,
                              "mime_type": "image/png",
                              "width": 1920,
                              "height": 1080,
                              "thumbnail_url": null
                            }
                          ],
                          "team_id": null,
                          "author": {
                            "id": "123456789012345678",
                            "username": "playerone",
                            "nickname": "Player One",
                            "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                            "verified": false,
                            "plan": "plus"
                          },
                          "liked": false,
                          "moderated": false,
                          "restricted": false
                        },
                        {
                          "code": "InDv0002",
                          "url": "https://snipp.gg/p/InDv0002",
                          "title": null,
                          "description": null,
                          "privacy": "public",
                          "created_at": "2026-10-01T09:15:27.204Z",
                          "view_count": 0,
                          "like_count": 0,
                          "comment_count": 0,
                          "priority": false,
                          "file_count": 1,
                          "files": [
                            {
                              "name": "b2c3d4e5f6789012345678abcdef0102.png",
                              "url": "https://i.snipp.gg/123456789012345678/b2c3d4e5f6789012345678abcdef0102.png",
                              "size": 1843210,
                              "mime_type": "image/png",
                              "width": 1280,
                              "height": 720,
                              "thumbnail_url": null
                            }
                          ],
                          "team_id": null,
                          "author": {
                            "id": "123456789012345678",
                            "username": "playerone",
                            "nickname": "Player One",
                            "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                            "verified": false,
                            "plan": "plus"
                          },
                          "liked": false,
                          "moderated": false,
                          "restricted": false
                        }
                      ],
                      "failed": [
                        {
                          "index": 2,
                          "error": {
                            "type": "quota_exceeded",
                            "message": "Weekly usage limit exceeded.",
                            "quota": 21474836480,
                            "used": 21470000000,
                            "resets_at": "2026-10-04T16:20:00.000Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "413": {
            "$ref": "#/components/responses/E413"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "summary": "List Posts",
        "description": "List your personal posts, newest first. Requires gallery access on the key.",
        "operationId": "listPosts",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostPage"
                },
                "example": {
                  "posts": [
                    {
                      "code": "AbCd1234",
                      "url": "https://snipp.gg/p/AbCd1234",
                      "title": "Nice shot",
                      "description": null,
                      "privacy": "unlisted",
                      "created_at": "2026-09-30T18:42:11.512Z",
                      "view_count": 128,
                      "like_count": 42,
                      "comment_count": 3,
                      "priority": false,
                      "file_count": 1,
                      "files": [
                        {
                          "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                          "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                          "size": 2487312,
                          "mime_type": "image/png",
                          "width": 1920,
                          "height": 1080,
                          "thumbnail_url": null
                        }
                      ],
                      "team_id": null,
                      "author": {
                        "id": "123456789012345678",
                        "username": "playerone",
                        "nickname": "Player One",
                        "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                        "verified": false,
                        "plan": "plus"
                      },
                      "liked": false,
                      "moderated": false,
                      "restricted": false
                    },
                    {
                      "code": "ZxCv9012",
                      "url": "https://snipp.gg/p/ZxCv9012",
                      "title": null,
                      "description": null,
                      "privacy": "private",
                      "created_at": "2026-09-28T10:00:00.000Z",
                      "view_count": 0,
                      "like_count": 0,
                      "comment_count": 0,
                      "priority": true,
                      "file_count": 1,
                      "files": [
                        {
                          "name": "c3d4e5f6789012345678abcdef010203.mp4",
                          "url": "https://i.snipp.gg/123456789012345678/c3d4e5f6789012345678abcdef010203.mp4?e=1790035200&s=9f2c4b7d1e8a3f6c0b5d2e9a7c4f1b8e3d6a0c9f2b5e8d1a4c7f0b3e6d9a2c5f",
                          "size": 48213904,
                          "mime_type": "video/mp4",
                          "width": 1920,
                          "height": 1080,
                          "thumbnail_url": "https://i.snipp.gg/123456789012345678/thumb/d4e5f6789012345678abcdef01020304.jpg?e=1790035200&s=9f2c4b7d1e8a3f6c0b5d2e9a7c4f1b8e3d6a0c9f2b5e8d1a4c7f0b3e6d9a2c5f"
                        }
                      ],
                      "team_id": null,
                      "author": {
                        "id": "123456789012345678",
                        "username": "playerone",
                        "nickname": "Player One",
                        "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                        "verified": false,
                        "plan": "plus"
                      },
                      "liked": false,
                      "moderated": false,
                      "restricted": false
                    }
                  ],
                  "has_more": true,
                  "next_cursor": "eyJ0IjoiMjAyNi0wOS0yOFQxMDowMDowMC4wMDBaIiwiayI6IlF3RXI1Njc4In0"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/posts/{code}": {
      "get": {
        "summary": "Get Post",
        "description": "Fetch a post by its share code.",
        "operationId": "getPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  },
                  "required": [
                    "post"
                  ]
                },
                "examples": {
                  "owner": {
                    "summary": "Owner",
                    "value": {
                      "post": {
                        "code": "AbCd1234",
                        "url": "https://snipp.gg/p/AbCd1234",
                        "title": "Nice shot",
                        "description": null,
                        "privacy": "unlisted",
                        "created_at": "2026-09-30T18:42:11.512Z",
                        "view_count": 128,
                        "like_count": 42,
                        "comment_count": 3,
                        "priority": false,
                        "file_count": 1,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": null,
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                          "verified": false,
                          "plan": "plus"
                        },
                        "liked": false,
                        "moderated": false,
                        "restricted": false
                      }
                    }
                  },
                  "other": {
                    "summary": "Another user's post",
                    "value": {
                      "post": {
                        "code": "QwEr5678",
                        "url": "https://snipp.gg/p/QwEr5678",
                        "title": "Launch teaser",
                        "description": null,
                        "privacy": "public",
                        "created_at": "2026-09-28T10:00:00.000Z",
                        "view_count": 311,
                        "like_count": 17,
                        "comment_count": 2,
                        "priority": false,
                        "file_count": 1,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/987654321098765432/a1b2c3d4e5f6789012345678abcdef01.png",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": null,
                        "author": {
                          "id": "987654321098765432",
                          "username": "playertwo",
                          "nickname": "Player Two",
                          "avatar": "https://cdn.snipp.gg/avatar.png",
                          "verified": false,
                          "plan": "free"
                        },
                        "liked": true
                      }
                    }
                  },
                  "team": {
                    "summary": "Team post",
                    "value": {
                      "post": {
                        "code": "TeAm1357",
                        "url": "https://snipp.gg/p/TeAm1357",
                        "title": "Sprint review",
                        "description": null,
                        "privacy": "private",
                        "created_at": "2026-09-30T18:42:11.512Z",
                        "view_count": 0,
                        "like_count": null,
                        "comment_count": 1,
                        "priority": false,
                        "file_count": 1,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/team-246813579246813579/a1b2c3d4e5f6789012345678abcdef01.png?e=1790035200&s=9f2c4b7d1e8a3f6c0b5d2e9a7c4f1b8e3d6a0c9f2b5e8d1a4c7f0b3e6d9a2c5f",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": "246813579246813579",
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                          "verified": false,
                          "plan": "plus"
                        },
                        "liked": null,
                        "moderated": false,
                        "restricted": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      },
      "patch": {
        "summary": "Update Post",
        "description": "Change a post's title, description or privacy.",
        "operationId": "updatePost",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Empty string or `null` clears it.",
                    "nullable": true
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Empty string or `null` clears it.",
                    "nullable": true
                  },
                  "privacy": {
                    "type": "string",
                    "enum": [
                      "public",
                      "unlisted",
                      "private"
                    ]
                  }
                }
              },
              "example": {
                "title": "New title",
                "privacy": "public"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  },
                  "required": [
                    "post"
                  ]
                },
                "example": {
                  "post": {
                    "code": "AbCd1234",
                    "url": "https://snipp.gg/p/AbCd1234",
                    "title": "New title",
                    "description": null,
                    "privacy": "public",
                    "created_at": "2026-09-30T18:42:11.512Z",
                    "view_count": 128,
                    "like_count": 42,
                    "comment_count": 3,
                    "priority": false,
                    "file_count": 1,
                    "files": [
                      {
                        "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                        "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                        "size": 2487312,
                        "mime_type": "image/png",
                        "width": 1920,
                        "height": 1080,
                        "thumbnail_url": null
                      }
                    ],
                    "team_id": null,
                    "author": {
                      "id": "123456789012345678",
                      "username": "playerone",
                      "nickname": "Player One",
                      "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                      "verified": false,
                      "plan": "plus"
                    },
                    "liked": false,
                    "moderated": false,
                    "restricted": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      },
      "delete": {
        "summary": "Delete Post",
        "description": "Delete a post and every file in it.",
        "operationId": "deletePost",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "deleted"
                  ]
                },
                "example": {
                  "code": "AbCd1234",
                  "deleted": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/posts/{code}/files": {
      "post": {
        "summary": "Add Files",
        "description": "Add files to an existing post. Posts hold up to 50 files.",
        "operationId": "addFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          },
          {
            "$ref": "#/components/parameters/IncludeMetadata"
          },
          {
            "$ref": "#/components/parameters/Priority"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "One or more files. Repeat the `file` field."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    },
                    "failed": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FailedFile"
                      }
                    }
                  },
                  "required": [
                    "post"
                  ]
                },
                "examples": {
                  "all": {
                    "summary": "All files stored",
                    "value": {
                      "post": {
                        "code": "AlBm5678",
                        "url": "https://snipp.gg/p/AlBm5678",
                        "title": "Match highlights",
                        "description": null,
                        "privacy": "public",
                        "created_at": "2026-09-30T18:42:11.512Z",
                        "view_count": 128,
                        "like_count": 42,
                        "comment_count": 3,
                        "priority": false,
                        "file_count": 3,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          },
                          {
                            "name": "b2c3d4e5f6789012345678abcdef0102.png",
                            "url": "https://i.snipp.gg/123456789012345678/b2c3d4e5f6789012345678abcdef0102.png",
                            "size": 1843210,
                            "mime_type": "image/png",
                            "width": 1280,
                            "height": 720,
                            "thumbnail_url": null
                          },
                          {
                            "name": "f6789012345678abcdef010203040506.png",
                            "url": "https://i.snipp.gg/123456789012345678/f6789012345678abcdef010203040506.png",
                            "size": 912384,
                            "mime_type": "image/png",
                            "width": 1080,
                            "height": 1920,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": null,
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                          "verified": false,
                          "plan": "plus"
                        },
                        "liked": false,
                        "moderated": false,
                        "restricted": false
                      }
                    }
                  },
                  "partial": {
                    "summary": "One file failed",
                    "value": {
                      "post": {
                        "code": "AlBm5678",
                        "url": "https://snipp.gg/p/AlBm5678",
                        "title": "Match highlights",
                        "description": null,
                        "privacy": "public",
                        "created_at": "2026-09-30T18:42:11.512Z",
                        "view_count": 128,
                        "like_count": 42,
                        "comment_count": 3,
                        "priority": false,
                        "file_count": 2,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          },
                          {
                            "name": "b2c3d4e5f6789012345678abcdef0102.png",
                            "url": "https://i.snipp.gg/123456789012345678/b2c3d4e5f6789012345678abcdef0102.png",
                            "size": 1843210,
                            "mime_type": "image/png",
                            "width": 1280,
                            "height": 720,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": null,
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                          "verified": false,
                          "plan": "plus"
                        },
                        "liked": false,
                        "moderated": false,
                        "restricted": false
                      },
                      "failed": [
                        {
                          "index": 1,
                          "error": {
                            "type": "unsupported_type",
                            "message": "Unsupported file type."
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "413": {
            "$ref": "#/components/responses/E413"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/posts/{code}/files/{name}": {
      "delete": {
        "summary": "Delete File",
        "description": "Remove one file from a post. Removing the last file deletes the post.",
        "operationId": "deleteFile",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          },
          {
            "$ref": "#/components/parameters/FileName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "name",
                    "deleted"
                  ]
                },
                "example": {
                  "name": "b2c3d4e5f6789012345678abcdef0102.png",
                  "deleted": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/posts/{code}/report": {
      "post": {
        "summary": "Report Post",
        "description": "Report a post to the moderation team.",
        "operationId": "reportPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Optional, up to 200 characters."
                  }
                }
              },
              "example": {
                "reason": "Inappropriate content"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reported": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "reported"
                  ]
                },
                "example": {
                  "reported": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/gifs": {
      "get": {
        "summary": "List Public GIFs",
        "description": "Public posts whose first file is a GIF, newest first. No key required.",
        "operationId": "listGifs",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Words to match at word starts in the title or description. Up to 6 words.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostPage"
                },
                "example": {
                  "posts": [
                    {
                      "code": "GiFs4242",
                      "url": "https://snipp.gg/p/GiFs4242",
                      "title": "Nice loop",
                      "description": null,
                      "privacy": "public",
                      "created_at": "2026-09-29T21:03:44.019Z",
                      "view_count": 128,
                      "like_count": 9,
                      "comment_count": 0,
                      "priority": false,
                      "file_count": 1,
                      "files": [
                        {
                          "name": "e5f6789012345678abcdef0102030405.gif",
                          "url": "https://i.snipp.gg/987654321098765432/e5f6789012345678abcdef0102030405.gif",
                          "size": 3145728,
                          "mime_type": "image/gif",
                          "width": 480,
                          "height": 270,
                          "thumbnail_url": null
                        }
                      ],
                      "team_id": null,
                      "author": {
                        "id": "987654321098765432",
                        "username": "playertwo",
                        "nickname": "Player Two",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "verified": false,
                        "plan": "free"
                      },
                      "liked": false
                    }
                  ],
                  "has_more": true,
                  "next_cursor": "eyJ0IjoiMjAyNi0wOS0yOVQyMTowMzo0NC4wMTlaIiwiayI6IkdpRnM0MjQyIn0"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        },
        "security": []
      }
    },
    "/convert": {
      "post": {
        "summary": "Convert a File",
        "description": "Convert one image or video and get the converted bytes back. Nothing is stored.",
        "operationId": "convert",
        "parameters": [
          {
            "name": "convert-target",
            "in": "header",
            "required": true,
            "description": "Output format.",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpeg",
                "webp",
                "avif",
                "gif",
                "mp4",
                "mp3"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to convert."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The converted file, sent as an attachment.",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "413": {
            "$ref": "#/components/responses/E413"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/region": {
      "get": {
        "summary": "Get Region",
        "description": "The region that served the request. No key required.",
        "operationId": "getRegion",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "region": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string",
                      "nullable": true
                    },
                    "label": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "region",
                    "country",
                    "label"
                  ]
                },
                "example": {
                  "region": "eu-west-1",
                  "country": "United Kingdom",
                  "label": "United Kingdom (eu-west-1)"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/usage-history": {
      "get": {
        "summary": "Get Usage History",
        "description": "Your daily upload activity for the last 365 days, with summary stats.",
        "operationId": "getUsageHistory",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageHistory"
                },
                "example": {
                  "history": [
                    {
                      "day": "2026-09-28",
                      "bytes": 5242880,
                      "upload_count": 3
                    },
                    {
                      "day": "2026-09-30",
                      "bytes": 1048576,
                      "upload_count": 1
                    }
                  ],
                  "stats": {
                    "total_bytes": 6291456,
                    "upload_count": 4,
                    "active_days": 2,
                    "current_streak": 1,
                    "biggest_day": {
                      "day": "2026-09-28",
                      "bytes": 5242880
                    },
                    "window_days": 365
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/analytics": {
      "get": {
        "summary": "Get Analytics",
        "description": "Your analytics over time plus totals. Snipp+ only.",
        "operationId": "getAnalytics",
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Days covered by `series` and `deltas`.",
            "schema": {
              "type": "integer",
              "enum": [
                7,
                30,
                90,
                365
              ],
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "analytics": {
                      "$ref": "#/components/schemas/Analytics"
                    }
                  },
                  "required": [
                    "analytics"
                  ]
                },
                "example": {
                  "analytics": {
                    "range": 30,
                    "buckets": {
                      "posts": {
                        "today": 2,
                        "week": 11,
                        "month": 47
                      },
                      "uploads": {
                        "today": 3,
                        "week": 14,
                        "month": 63
                      },
                      "bytes": {
                        "today": 1048576,
                        "week": 8388608,
                        "month": 27918336
                      },
                      "comments": {
                        "today": 0,
                        "week": 4,
                        "month": 18
                      },
                      "likes": {
                        "today": 1,
                        "week": 9,
                        "month": 38
                      },
                      "followers": {
                        "today": 1,
                        "week": 6,
                        "month": 21
                      }
                    },
                    "totals": {
                      "posts": 666,
                      "views": 1695,
                      "comments": 18,
                      "likes": 412,
                      "bytes": 27918336
                    },
                    "series": {
                      "posts": [
                        {
                          "day": "2026-09-01",
                          "value": 1
                        },
                        {
                          "day": "2026-09-02",
                          "value": 0
                        }
                      ],
                      "uploads": [
                        {
                          "day": "2026-09-01",
                          "value": 2
                        },
                        {
                          "day": "2026-09-02",
                          "value": 0
                        }
                      ],
                      "bytes": [
                        {
                          "day": "2026-09-01",
                          "value": 524288
                        },
                        {
                          "day": "2026-09-02",
                          "value": 0
                        }
                      ],
                      "comments": [
                        {
                          "day": "2026-09-01",
                          "value": 1
                        },
                        {
                          "day": "2026-09-02",
                          "value": 0
                        }
                      ],
                      "likes": [
                        {
                          "day": "2026-09-01",
                          "value": 3
                        },
                        {
                          "day": "2026-09-02",
                          "value": 1
                        }
                      ],
                      "views": [
                        {
                          "day": "2026-09-01",
                          "value": 84
                        },
                        {
                          "day": "2026-09-02",
                          "value": 31
                        }
                      ],
                      "followers": [
                        {
                          "day": "2026-09-01",
                          "value": 2
                        },
                        {
                          "day": "2026-09-02",
                          "value": 0
                        }
                      ]
                    },
                    "deltas": {
                      "posts": {
                        "current": 47,
                        "previous": 41,
                        "change": 0.14634146341463414
                      },
                      "uploads": {
                        "current": 63,
                        "previous": 55,
                        "change": 0.14545454545454545
                      },
                      "bytes": {
                        "current": 27918336,
                        "previous": 25000000,
                        "change": 0.11673344
                      },
                      "comments": {
                        "current": 18,
                        "previous": 22,
                        "change": -0.18181818181818182
                      },
                      "likes": {
                        "current": 38,
                        "previous": 31,
                        "change": 0.22580645161290322
                      },
                      "views": {
                        "current": 1240,
                        "previous": 0,
                        "change": null
                      },
                      "followers": {
                        "current": 21,
                        "previous": 17,
                        "change": 0.23529411764705882
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorType": {
        "type": "string",
        "enum": [
          "invalid_request",
          "unauthorized",
          "forbidden",
          "suspended",
          "blocked",
          "moderated",
          "plan_required",
          "not_found",
          "method_not_allowed",
          "file_too_large",
          "unsupported_type",
          "quota_exceeded",
          "rate_limited",
          "upload_failed",
          "internal",
          "unavailable"
        ],
        "description": "Machine-readable error category. See [Errors](/concepts/errors)."
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ErrorType"
          },
          "message": {
            "type": "string",
            "description": "Human-readable sentence. Do not match on it; use `type`."
          },
          "username": {
            "type": "string",
            "description": "`suspended` on `GET /users/{id}` only: the suspended user's username."
          },
          "quota": {
            "type": "integer",
            "description": "`quota_exceeded` only: weekly quota in bytes."
          },
          "used": {
            "type": "integer",
            "description": "`quota_exceeded` only: bytes used in the current window."
          },
          "resets_at": {
            "type": "string",
            "format": "date-time",
            "description": "`quota_exceeded` only: when the weekly window resets.",
            "nullable": true
          },
          "failed": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FailedFile"
            },
            "description": "`upload_failed` only: one entry per file."
          }
        },
        "required": [
          "type",
          "message"
        ]
      },
      "FailedFile": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Zero-based position of the file in the request."
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        },
        "required": [
          "index",
          "error"
        ],
        "description": "A file that was not stored. `error` has the same shape as a top-level error."
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        },
        "required": [
          "error"
        ],
        "description": "Every non-2xx response has this body."
      },
      "Plan": {
        "type": "string",
        "enum": [
          "free",
          "plus",
          "ultra"
        ]
      },
      "UserRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "User ID (snowflake)."
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "nickname": {
            "type": "string",
            "nullable": true
          },
          "avatar": {
            "type": "string",
            "description": "Avatar URL. Falls back to `https://cdn.snipp.gg/avatar.png`."
          },
          "verified": {
            "type": "boolean"
          },
          "plan": {
            "$ref": "#/components/schemas/Plan"
          }
        },
        "required": [
          "id",
          "username",
          "nickname",
          "avatar",
          "verified",
          "plan"
        ],
        "description": "A user embedded inside another resource."
      },
      "CustomEmbed": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "theme_color": {
            "type": "string"
          },
          "small_text": {
            "type": "string"
          }
        },
        "description": "Custom embed settings. Keys are omitted when unset."
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "nickname": {
            "type": "string",
            "nullable": true
          },
          "avatar": {
            "type": "string",
            "description": "Avatar URL. Falls back to `https://cdn.snipp.gg/avatar.png`."
          },
          "banner": {
            "type": "string",
            "description": "Banner URL, or `null` when unset.",
            "nullable": true
          },
          "bio": {
            "type": "string",
            "nullable": true
          },
          "socials": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Keyed by `roblox`, `github`, `spotify`, `youtube`, `tiktok`, `X`, `bluesky`, `discord`.",
            "nullable": true
          },
          "plan": {
            "$ref": "#/components/schemas/Plan"
          },
          "verified": {
            "type": "boolean"
          },
          "staff": {
            "type": "boolean"
          },
          "partner": {
            "type": "boolean"
          },
          "translator": {
            "type": "boolean"
          },
          "bug_hunter_tier": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "`0` none, `1` Bug Hunter, `2` Elite Bug Hunter."
          },
          "suspended": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "custom_embed": {
            "$ref": "#/components/schemas/CustomEmbed",
            "nullable": true
          },
          "follower_count": {
            "type": "integer"
          },
          "following_count": {
            "type": "integer"
          },
          "following": {
            "type": "boolean",
            "description": "You follow this user. `false` on your own profile."
          },
          "blocking": {
            "type": "boolean",
            "description": "You block this user. `false` on your own profile."
          }
        },
        "required": [
          "id",
          "username",
          "nickname",
          "avatar",
          "banner",
          "bio",
          "socials",
          "plan",
          "verified",
          "staff",
          "partner",
          "translator",
          "bug_hunter_tier",
          "suspended",
          "created_at",
          "custom_embed",
          "follower_count",
          "following_count",
          "following",
          "blocking"
        ]
      },
      "LimitWindow": {
        "type": "object",
        "properties": {
          "used": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "used_percent": {
            "type": "integer",
            "description": "Rounded to the nearest integer."
          },
          "resets_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the window resets. `null` before your first upload or stream.",
            "nullable": true
          }
        },
        "required": [
          "used",
          "limit",
          "used_percent",
          "resets_at"
        ]
      },
      "Limits": {
        "type": "object",
        "properties": {
          "max_file_size": {
            "type": "integer",
            "description": "Largest single file in bytes."
          },
          "usage": {
            "$ref": "#/components/schemas/LimitWindow"
          },
          "priority_minutes": {
            "$ref": "#/components/schemas/LimitWindow"
          }
        },
        "required": [
          "max_file_size",
          "usage",
          "priority_minutes"
        ],
        "description": "`usage` is the weekly upload quota in bytes. `priority_minutes` is the 30-day priority streaming budget in minutes."
      },
      "SelfUser": {
        "allOf": [
          {
            "$ref": "#/components/schemas/User"
          },
          {
            "type": "object",
            "properties": {
              "api_key": {
                "type": "string",
                "description": "Your API key."
              },
              "key_has_uploads_access": {
                "type": "boolean",
                "description": "Whether the API key has gallery access."
              },
              "upload_count": {
                "type": "integer",
                "description": "Number of stored files in your personal gallery."
              },
              "limits": {
                "$ref": "#/components/schemas/Limits"
              }
            },
            "required": [
              "api_key",
              "key_has_uploads_access",
              "upload_count",
              "limits"
            ]
          }
        ],
        "description": "Returned for `@me` or your own ID."
      },
      "File": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Stored file name: 32 hex characters plus an extension."
          },
          "url": {
            "type": "string",
            "description": "Direct file URL. Signed for 24 hours on private posts."
          },
          "size": {
            "type": "integer",
            "description": "Bytes.",
            "nullable": true
          },
          "mime_type": {
            "type": "string",
            "nullable": true
          },
          "width": {
            "type": "integer",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "thumbnail_url": {
            "type": "string",
            "description": "Video thumbnail URL, or `null`.",
            "nullable": true
          }
        },
        "required": [
          "name",
          "url",
          "size",
          "mime_type",
          "width",
          "height",
          "thumbnail_url"
        ]
      },
      "Post": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Share code."
          },
          "url": {
            "type": "string",
            "description": "Share page, `https://snipp.gg/p/{code}`."
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "privacy": {
            "type": "string",
            "enum": [
              "public",
              "unlisted",
              "private"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "view_count": {
            "type": "integer"
          },
          "like_count": {
            "type": "integer",
            "description": "`null` on team posts.",
            "nullable": true
          },
          "comment_count": {
            "type": "integer"
          },
          "priority": {
            "type": "boolean",
            "description": "At least one video is on priority (adaptive) streaming."
          },
          "file_count": {
            "type": "integer"
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/File"
            }
          },
          "team_id": {
            "type": "string",
            "description": "Team ID for team posts, otherwise `null`.",
            "nullable": true
          },
          "author": {
            "$ref": "#/components/schemas/UserRef",
            "nullable": true
          },
          "liked": {
            "type": "boolean",
            "description": "You liked the post. `null` on team posts.",
            "nullable": true
          },
          "moderated": {
            "type": "boolean",
            "description": "Owner only. Omitted for everyone else."
          },
          "restricted": {
            "type": "boolean",
            "description": "Owner only. Omitted for everyone else."
          }
        },
        "required": [
          "code",
          "url",
          "title",
          "description",
          "privacy",
          "created_at",
          "view_count",
          "like_count",
          "comment_count",
          "priority",
          "file_count",
          "files",
          "team_id",
          "author",
          "liked"
        ]
      },
      "PostPage": {
        "type": "object",
        "properties": {
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string",
            "description": "Pass as `cursor` to fetch the next page. `null` on the last page.",
            "nullable": true
          }
        },
        "required": [
          "posts",
          "has_more",
          "next_cursor"
        ]
      },
      "UsageHistory": {
        "type": "object",
        "properties": {
          "history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "day": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-09-30"
                },
                "bytes": {
                  "type": "integer"
                },
                "upload_count": {
                  "type": "integer"
                }
              },
              "required": [
                "day",
                "bytes",
                "upload_count"
              ]
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "total_bytes": {
                "type": "integer"
              },
              "upload_count": {
                "type": "integer"
              },
              "active_days": {
                "type": "integer"
              },
              "current_streak": {
                "type": "integer"
              },
              "biggest_day": {
                "type": "object",
                "properties": {
                  "day": {
                    "type": "string",
                    "format": "date",
                    "example": "2026-09-30"
                  },
                  "bytes": {
                    "type": "integer"
                  }
                },
                "required": [
                  "day",
                  "bytes"
                ],
                "nullable": true
              },
              "window_days": {
                "type": "integer"
              }
            },
            "required": [
              "total_bytes",
              "upload_count",
              "active_days",
              "current_streak",
              "biggest_day",
              "window_days"
            ]
          }
        },
        "required": [
          "history",
          "stats"
        ]
      },
      "Analytics": {
        "type": "object",
        "properties": {
          "range": {
            "type": "integer",
            "enum": [
              7,
              30,
              90,
              365
            ]
          },
          "buckets": {
            "type": "object",
            "properties": {
              "posts": {
                "type": "object",
                "properties": {
                  "today": {
                    "type": "integer"
                  },
                  "week": {
                    "type": "integer"
                  },
                  "month": {
                    "type": "integer"
                  }
                },
                "required": [
                  "today",
                  "week",
                  "month"
                ]
              },
              "uploads": {
                "type": "object",
                "properties": {
                  "today": {
                    "type": "integer"
                  },
                  "week": {
                    "type": "integer"
                  },
                  "month": {
                    "type": "integer"
                  }
                },
                "required": [
                  "today",
                  "week",
                  "month"
                ]
              },
              "bytes": {
                "type": "object",
                "properties": {
                  "today": {
                    "type": "integer"
                  },
                  "week": {
                    "type": "integer"
                  },
                  "month": {
                    "type": "integer"
                  }
                },
                "required": [
                  "today",
                  "week",
                  "month"
                ]
              },
              "comments": {
                "type": "object",
                "properties": {
                  "today": {
                    "type": "integer"
                  },
                  "week": {
                    "type": "integer"
                  },
                  "month": {
                    "type": "integer"
                  }
                },
                "required": [
                  "today",
                  "week",
                  "month"
                ]
              },
              "likes": {
                "type": "object",
                "properties": {
                  "today": {
                    "type": "integer"
                  },
                  "week": {
                    "type": "integer"
                  },
                  "month": {
                    "type": "integer"
                  }
                },
                "required": [
                  "today",
                  "week",
                  "month"
                ]
              },
              "followers": {
                "type": "object",
                "properties": {
                  "today": {
                    "type": "integer"
                  },
                  "week": {
                    "type": "integer"
                  },
                  "month": {
                    "type": "integer"
                  }
                },
                "required": [
                  "today",
                  "week",
                  "month"
                ]
              }
            },
            "required": [
              "posts",
              "uploads",
              "bytes",
              "comments",
              "likes",
              "followers"
            ]
          },
          "totals": {
            "type": "object",
            "properties": {
              "posts": {
                "type": "integer"
              },
              "views": {
                "type": "integer"
              },
              "comments": {
                "type": "integer"
              },
              "likes": {
                "type": "integer"
              },
              "bytes": {
                "type": "integer"
              }
            },
            "required": [
              "posts",
              "views",
              "comments",
              "likes",
              "bytes"
            ]
          },
          "series": {
            "type": "object",
            "properties": {
              "posts": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "string",
                      "format": "date",
                      "example": "2026-09-30"
                    },
                    "value": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "day",
                    "value"
                  ]
                }
              },
              "uploads": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "string",
                      "format": "date",
                      "example": "2026-09-30"
                    },
                    "value": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "day",
                    "value"
                  ]
                }
              },
              "bytes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "string",
                      "format": "date",
                      "example": "2026-09-30"
                    },
                    "value": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "day",
                    "value"
                  ]
                }
              },
              "comments": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "string",
                      "format": "date",
                      "example": "2026-09-30"
                    },
                    "value": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "day",
                    "value"
                  ]
                }
              },
              "likes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "string",
                      "format": "date",
                      "example": "2026-09-30"
                    },
                    "value": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "day",
                    "value"
                  ]
                }
              },
              "views": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "string",
                      "format": "date",
                      "example": "2026-09-30"
                    },
                    "value": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "day",
                    "value"
                  ]
                }
              },
              "followers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "string",
                      "format": "date",
                      "example": "2026-09-30"
                    },
                    "value": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "day",
                    "value"
                  ]
                }
              }
            },
            "required": [
              "posts",
              "uploads",
              "bytes",
              "comments",
              "likes",
              "views",
              "followers"
            ]
          },
          "deltas": {
            "type": "object",
            "properties": {
              "posts": {
                "type": "object",
                "properties": {
                  "current": {
                    "type": "number"
                  },
                  "previous": {
                    "type": "number"
                  },
                  "change": {
                    "type": "number",
                    "nullable": true
                  }
                },
                "required": [
                  "current",
                  "previous",
                  "change"
                ]
              },
              "uploads": {
                "type": "object",
                "properties": {
                  "current": {
                    "type": "number"
                  },
                  "previous": {
                    "type": "number"
                  },
                  "change": {
                    "type": "number",
                    "nullable": true
                  }
                },
                "required": [
                  "current",
                  "previous",
                  "change"
                ]
              },
              "bytes": {
                "type": "object",
                "properties": {
                  "current": {
                    "type": "number"
                  },
                  "previous": {
                    "type": "number"
                  },
                  "change": {
                    "type": "number",
                    "nullable": true
                  }
                },
                "required": [
                  "current",
                  "previous",
                  "change"
                ]
              },
              "comments": {
                "type": "object",
                "properties": {
                  "current": {
                    "type": "number"
                  },
                  "previous": {
                    "type": "number"
                  },
                  "change": {
                    "type": "number",
                    "nullable": true
                  }
                },
                "required": [
                  "current",
                  "previous",
                  "change"
                ]
              },
              "likes": {
                "type": "object",
                "properties": {
                  "current": {
                    "type": "number"
                  },
                  "previous": {
                    "type": "number"
                  },
                  "change": {
                    "type": "number",
                    "nullable": true
                  }
                },
                "required": [
                  "current",
                  "previous",
                  "change"
                ]
              },
              "views": {
                "type": "object",
                "properties": {
                  "current": {
                    "type": "number"
                  },
                  "previous": {
                    "type": "number"
                  },
                  "change": {
                    "type": "number",
                    "nullable": true
                  }
                },
                "required": [
                  "current",
                  "previous",
                  "change"
                ]
              },
[...]
