{
  "openapi": "3.0.0",
  "info": {
    "title": "Snipp.gg Relay API",
    "description": "First-party Snipp API for the full user experience. Includes uploads, posts, discover, likes, comments, blocks, and profile management.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://relay.snipp.gg",
      "description": "Default. Load-balanced across regions. No upload cap."
    },
    {
      "url": "https://eu-west-1.relay.snipp.gg",
      "description": "EU West regional endpoint. Pins uploads and storage to EU West."
    },
    {
      "url": "https://us-west-1.relay.snipp.gg",
      "description": "US West regional endpoint. Pins uploads and storage to US West."
    },
    {
      "url": "https://pulsar.snipp.gg",
      "description": "Alternative host. Capped at 100 MB per upload."
    }
  ],
  "security": [
    {
      "relayKeyAuth": []
    }
  ],
  "paths": {
    "/users/{id}": {
      "get": {
        "summary": "Get User",
        "description": "Retrieve user profile data. Includes badge flags and a `badges` object (ordered as `verified`, `staff`, `partner`, `bugHunterTier`, `translator`, `plus`). For non-self requests, public profile uploads are included by default as `publicUploads`.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID or `@me` for the authenticated user",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includePosts",
            "in": "query",
            "required": false,
            "description": "Include `publicUploads` in the response. Defaults to `true` for non-self requests and `false` for `@me`.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "postsLimit",
            "in": "query",
            "required": false,
            "description": "Maximum number of `publicUploads` to return (1-50, default 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserResponse"
                },
                "examples": {
                  "selfProfile": {
                    "summary": "@me Response",
                    "value": {
                      "user": {
                        "id": "123456789012345678",
                        "username": "snipp",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "banner": null,
                        "nickname": "Snipp",
                        "bio": null,
                        "socials": null,
                        "apiKey": "aB3xK9mP2qR7sT1vW4yZ6cD8fG0hJ5kL",
                        "relayKey": "Zy7wV4uT1sR8qP5nM2kJ9hG6fD3bC0aX",
                        "plus": true,
                        "ultra": false,
                        "verified": true,
                        "staff": false,
                        "partner": false,
                        "translator": false,
                        "bugHunterTier": 0,
                        "suspended": false,
                        "created": "2025-01-01T00:00:00.000Z",
                        "customEmbed": null,
                        "theme": "pastel_blue",
                        "badges": {
                          "verified": true,
                          "staff": false,
                          "partner": false,
                          "bugHunterTier": 0,
                          "translator": false,
                          "plus": true
                        },
                        "uploads": 42,
                        "limits": {
                          "plan": "plus",
                          "maxFileSize": 21474836480,
                          "usage": {
                            "used": 1073741824,
                            "limit": 21474836480,
                            "usedPercent": 5,
                            "windowStart": "2026-05-01T00:00:00.000Z",
                            "windowEnd": "2026-05-08T00:00:00.000Z",
                            "resetsInSeconds": 172800
                          }
                        },
                        "subscription": {
                          "plan": "plus",
                          "status": "active",
                          "started_at": "2025-05-08T00:00:00.000Z",
                          "expires_at": "2026-05-08T00:00:00.000Z",
                          "cancel_at_period_end": false,
                          "gifted": false
                        },
                        "followerCount": 128,
                        "followingCount": 47
                      }
                    }
                  },
                  "publicProfile": {
                    "summary": "Public Profile Response",
                    "value": {
                      "user": {
                        "id": "987654321098765432",
                        "username": "creator",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "banner": null,
                        "nickname": "Creator",
                        "bio": "Hello world",
                        "socials": {
                          "X": "https://x.com/snippgg"
                        },
                        "plus": true,
                        "ultra": false,
                        "verified": true,
                        "staff": false,
                        "partner": false,
                        "translator": false,
                        "bugHunterTier": 1,
                        "suspended": false,
                        "created": "2025-01-01T00:00:00.000Z",
                        "customEmbed": null,
                        "badges": {
                          "verified": true,
                          "staff": false,
                          "partner": false,
                          "bugHunterTier": 1,
                          "translator": false,
                          "plus": true
                        },
                        "blockedByYou": false,
                        "followerCount": 312,
                        "followingCount": 58,
                        "following": true,
                        "publicUploads": [
                          {
                            "url": "https://i.snipp.gg/987654321098765432/example",
                            "code": "AbCd1234",
                            "title": "Launch teaser",
                            "description": "Public post",
                            "created": "2025-01-02T00:00:00.000Z",
                            "public": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No relay-key header or invalid relay key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The target user has blocked you, or is suspended. A suspended user's response includes `suspended: true` and their `username`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/posts/{code}": {
      "get": {
        "summary": "Get Post",
        "description": "Fetch a post by its share code. Returns the post's metadata including its direct file URL, title, description, privacy level, and creation date. Private posts and drafts are only visible to the owner, and posts by a suspended user return `404` to everyone else.",
        "operationId": "getPost",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "The share code of the post",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "nullable": true,
                          "description": "Direct URL to the primary file"
                        },
                        "urls": {
                          "type": "array",
                          "description": "Ordered list of all file URLs. Only present on albums (more than one file).",
                          "items": {
                            "type": "string"
                          }
                        },
                        "isAlbum": {
                          "type": "boolean",
                          "description": "True when the post contains more than one file."
                        },
                        "files": {
                          "type": "array",
                          "description": "Per-file metadata. Use `fileName` to address a file in /deleteUpload.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": {
                                "type": "integer"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "width": {
                                "type": "integer",
                                "description": "File width in pixels. Present per file when known; absent for older uploads."
                              },
                              "height": {
                                "type": "integer",
                                "description": "File height in pixels. Present per file when known; absent for older uploads."
                              },
                              "mime_type": {
                                "type": "string",
                                "description": "File MIME type. Present per file when known; absent for older uploads."
                              },
                              "size": {
                                "type": "integer",
                                "description": "File size in bytes. Present per file when known; absent for older uploads."
                              },
                              "size_formatted": {
                                "type": "string",
                                "description": "Human-readable file size. Present when size is known."
                              }
                            }
                          }
                        },
                        "thumbnailUrl": {
                          "type": "string",
                          "description": "URL to a generated thumbnail still frame. Present for video posts; signed (24-hour expiry) for private posts."
                        },
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "postPrivacy": {
                          "type": "string",
                          "enum": [
                            "public",
                            "unlisted",
                            "private"
                          ]
                        },
                        "created": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "views": {
                          "type": "integer",
                          "description": "Total view count for the post (auto-incremented on this request when applicable)."
                        },
                        "likeCount": {
                          "type": "integer",
                          "description": "Total likes on the post. Omitted on team posts, which cannot be liked."
                        },
                        "liked": {
                          "type": "boolean",
                          "description": "Whether the requesting user has liked this post. Omitted on team posts, which cannot be liked."
                        },
                        "commentCount": {
                          "type": "integer",
                          "description": "Total comments on the post."
                        },
                        "author": {
                          "type": "object",
                          "nullable": true,
                          "description": "The post's uploader. Null if the user has been deleted.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Snowflake ID of the author."
                            },
                            "username": {
                              "type": "string",
                              "nullable": true
                            },
                            "nickname": {
                              "type": "string",
                              "nullable": true
                            },
                            "avatar": {
                              "type": "string",
                              "nullable": true,
                              "description": "Avatar URL, or null if unset."
                            },
                            "verified": {
                              "type": "boolean"
                            },
                            "plus": {
                              "type": "boolean",
                              "description": "Whether the author has Snipp PLUS."
                            }
                          }
                        },
                        "priority": {
                          "type": "boolean",
                          "description": "True when the post's video is served over priority delivery, false for standard delivery."
                        },
                        "file": {
                          "type": "object",
                          "description": "File metadata. May be absent for older uploads.",
                          "properties": {
                            "size": {
                              "type": "integer",
                              "description": "File size in bytes"
                            },
                            "size_formatted": {
                              "type": "string",
                              "description": "Human-readable file size"
                            },
                            "mime_type": {
                              "type": "string",
                              "description": "MIME type"
                            },
                            "dimensions": {
                              "type": "object",
                              "description": "Image dimensions. Only present for images and GIFs.",
                              "properties": {
                                "width": {
                                  "type": "integer"
                                },
                                "height": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "post": {
                    "summary": "Post Response",
                    "value": {
                      "post": {
                        "code": "AbCd1234",
                        "url": "https://i.snipp.gg/123456789012345678/example.png",
                        "title": "My screenshot",
                        "description": "A cool screenshot",
                        "postPrivacy": "public",
                        "created": "2025-01-02T00:00:00.000Z",
                        "views": 42,
                        "likeCount": 7,
                        "liked": false,
                        "commentCount": 3,
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://cdn.snipp.gg/avatars/123456789012345678/avatar.png",
                          "verified": false,
                          "plus": true
                        },
                        "priority": false,
                        "file": {
                          "size": 2621440,
                          "size_formatted": "2.50 MB",
                          "mime_type": "image/png",
                          "dimensions": {
                            "width": 1920,
                            "height": 1080
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Post has been moderated, or its author has blocked you",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "moderated": {
                      "type": "boolean",
                      "description": "Present and true when the post has been moderated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/gifs": {
      "get": {
        "summary": "List Public GIFs",
        "description": "List public GIFs across Snipp, newest first, like a public GIF feed. No authentication required. Defaults to 30. Pass `?limit=N` (max 50) and `?offset=N` to page. Pass `?search=kitty cat` to match word prefixes in the title or description; multiple words are combined with AND, order independent.",
        "operationId": "listGifs",
        "security": [],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum GIFs to return (1-50, default 30).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of rows to skip for pagination (default 0).",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Filter to GIFs whose title or description has words starting with these terms (case-insensitive prefix match). Multiple space-separated words are combined with AND, order independent. Up to 6 words are used.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of public GIFs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gifs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Share code for the post"
                          },
                          "url": {
                            "type": "string",
                            "description": "Direct URL to the GIF"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Thumbnail URL. Only present when the post has a thumbnail."
                          },
                          "title": {
                            "type": "string",
                            "nullable": true,
                            "description": "Post title, or null when none is set"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true,
                            "description": "Post description, or null when none is set"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "ISO 8601 creation timestamp"
                          },
                          "views": {
                            "type": "integer",
                            "description": "View count"
                          }
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether another page is likely available."
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Offset used for this response."
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Limit used for this response."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve GIFs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/upload": {
      "post": {
        "summary": "Upload File(s)",
        "description": "Upload 1-50 image or video files. Supports PNG, JPG, WebP, GIF, MP4, MOV, and MKV. Every upload automatically creates a post. When sending multiple files, they are grouped into an album by default. File size limits depend on your plan. See [Plans](/concepts/plans) for details.",
        "operationId": "upload",
        "parameters": [
          {
            "name": "post-privacy",
            "in": "header",
            "required": false,
            "description": "Privacy for the generated post: private (default), unlisted (accessible via link), or public (visible on Discover)",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "unlisted",
                "private"
              ],
              "default": "private"
            }
          },
          {
            "name": "post-title",
            "in": "header",
            "required": false,
            "description": "Post title (max 30 characters)",
            "schema": {
              "type": "string",
              "maxLength": 30
            }
          },
          {
            "name": "post-description",
            "in": "header",
            "required": false,
            "description": "Post description (max 200 characters)",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "post-type",
            "in": "header",
            "required": false,
            "description": "Only relevant when uploading 2+ files. `album` (default) groups all files into a single album post. `individual` creates a separate post per file.",
            "schema": {
              "type": "string",
              "enum": [
                "album",
                "individual"
              ],
              "default": "album"
            }
          },
          {
            "name": "include-metadata",
            "in": "header",
            "required": false,
            "description": "By default, Snipp strips metadata (camera, GPS location, timestamp) to protect your privacy: metadata is removed from PNG, JPG, WebP and GIF images at any size without re-encoding, and container metadata is removed from videos during the MP4 remux. Set to `true` to keep the original metadata.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "description": "Eligible videos use priority (adaptive bitrate) streaming by default, spending your priority minutes. Set to `false` to upload in standard quality instead and save your minutes. The post's `priority` field reflects whether the video ended up on adaptive streaming.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "1-50 image or video files. Use multiple `file` fields for multi-file uploads."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful. Response shape depends on whether 1 or multiple files were uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Single file response",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Upload successful!"
                        },
                        "url": {
                          "type": "string",
                          "description": "Direct URL to the uploaded file"
                        },
                        "file": {
                          "type": "object",
                          "properties": {
                            "size": {
                              "type": "integer",
                              "description": "File size in bytes"
                            },
                            "size_formatted": {
                              "type": "string"
                            },
                            "mime_type": {
                              "type": "string"
                            },
                            "dimensions": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "width": {
                                  "type": "integer"
                                },
                                "height": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        },
                        "processing_time": {
                          "type": "integer"
                        },
                        "post": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string",
                              "description": "Share page URL"
                            },
                            "postPrivacy": {
                              "type": "string",
                              "enum": [
                                "public",
                                "unlisted",
                                "private"
                              ]
                            },
                            "priority": {
                              "type": "boolean",
                              "description": "`true` when the upload is a video placed on priority (adaptive) streaming."
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Multi-file response",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": {
                                "type": "integer"
                              },
                              "url": {
                                "type": "string"
                              },
                              "size": {
                                "type": "integer"
                              },
                              "size_formatted": {
                                "type": "string"
                              },
                              "mime_type": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "success"
                                ]
                              },
                              "dimensions": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "width": {
                                    "type": "integer"
                                  },
                                  "height": {
                                    "type": "integer"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "failed": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": {
                                "type": "integer"
                              },
                              "error": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "failed"
                                ]
                              },
                              "quota": {
                                "type": "integer",
                                "description": "Weekly byte quota. Present only when the file was rejected by the weekly usage limit."
                              },
                              "used": {
                                "type": "integer",
                                "description": "Bytes already used in the current window. Present only when the file was rejected by the weekly usage limit."
                              },
                              "resetsAt": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true,
                                "description": "When the current window resets. Present only when the file was rejected by the weekly usage limit."
                              }
                            }
                          }
                        },
                        "processing_time": {
                          "type": "integer"
                        },
                        "post": {
                          "type": "object",
                          "description": "Album mode returns `code`/`url`/`isAlbum`/`fileCount`. Individual mode returns `posts` array.",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "postPrivacy": {
                              "type": "string"
                            },
                            "isAlbum": {
                              "type": "boolean"
                            },
                            "fileCount": {
                              "type": "integer"
                            },
                            "priority": {
                              "type": "boolean",
                              "description": "Album mode: `true` when any file in the album is a video placed on priority (adaptive) streaming."
                            },
                            "posts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "postPrivacy": {
                                    "type": "string"
                                  },
                                  "priority": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "No file, unsupported type, or all files failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File exceeds your plan's size limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/convert": {
      "post": {
        "summary": "Convert a File",
        "description": "Convert one image or video to another format and get the converted file back in the response. Nothing is stored and no upload quota is consumed. Send the file as multipart/form-data and name the target format in the `convert-target` header. Images can become png, jpeg, webp, avif or gif; GIFs can become png, jpeg, webp, avif or mp4; videos can become mp4, mp3 or gif. Video to GIF requires Snipp+. Files are capped at 50 MB on the free plan, 20 GB on Snipp+, and 50 GB on Ultra and team keys. Video to GIF is limited to the first 10 seconds. Metadata is stripped from every converted file.",
        "operationId": "convertFile",
        "parameters": [
          {
            "name": "convert-target",
            "in": "header",
            "required": true,
            "description": "The format to convert the file to.",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpeg",
                "webp",
                "avif",
                "gif",
                "mp4",
                "mp3"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to convert. Only the first file is read."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The converted file, returned as an attachment.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "No file uploaded, unsupported source type, invalid target, or that source cannot become that target.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account suspended, or Snipp+ is required for video to GIF.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "File is over your plan's convert limit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. 10 conversions per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The conversion failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/uploads": {
      "get": {
        "summary": "List Uploads",
        "description": "List your personal uploads, newest first. Team posts are not included, and each file of an album is its own entry. Returns all by default. Pass `?limit=N` to cap the response (max 1000).",
        "operationId": "listUploads",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum uploads to return (1-1000). Omit for all.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recent uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "nullable": true,
                            "description": "Associated share code when a post exists"
                          },
                          "isAlbum": {
                            "type": "boolean",
                            "description": "Whether the upload belongs to an album post"
                          },
                          "url": {
                            "type": "string"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Thumbnail URL for video posts. Omitted when the post has no thumbnail."
                          },
                          "title": {
                            "type": "string",
                            "nullable": true,
                            "description": "Post title, or null when none is set"
                          },
                          "size": {
                            "type": "integer",
                            "description": "Size in bytes of the whole post. Every file of an album carries the same value."
                          },
                          "size_formatted": {
                            "type": "string",
                            "description": "Human-readable file size (e.g. \"2.50 MB\")"
                          },
                          "uploaded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp"
                          },
                          "priority": {
                            "type": "boolean",
                            "description": "True when the post's video is served over priority delivery, false for standard delivery."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deleteUpload": {
      "delete": {
        "summary": "Delete Upload",
        "description": "Delete an uploaded file by filename.",
        "operationId": "deleteUpload",
        "parameters": [
          {
            "name": "file",
            "in": "header",
            "required": true,
            "description": "Filename (32 hex chars + extension, e.g. a1b2c3d4e5f6...png)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "File deleted successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid file parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "No permission to delete uploads, or the post is moderated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/editUpload": {
      "patch": {
        "summary": "Edit Upload",
        "description": "Edit an existing upload's title, description, privacy level, or priority streaming. You must own the upload, or be a member of the owning team with a role other than viewer.",
        "operationId": "editUpload",
        "parameters": [
          {
            "name": "code",
            "in": "header",
            "required": true,
            "description": "The share code of the upload to edit",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "post-privacy",
            "in": "header",
            "required": false,
            "description": "New privacy level",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "unlisted",
                "private"
              ]
            }
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "description": "Toggle priority (adaptive) streaming for the post's videos. Returns 403 when no priority minutes remain.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "New title (max 30 characters). Send empty string to clear. Use a form field rather than a header so emoji and accented characters are preserved."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "New description (max 200 characters). Send empty string to clear. Use a form field rather than a header so emoji and accented characters are preserved."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Upload updated successfully."
                    },
                    "post": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "postPrivacy": {
                          "type": "string",
                          "enum": [
                            "public",
                            "unlisted",
                            "private"
                          ]
                        },
                        "priority": {
                          "type": "boolean",
                          "description": "Whether the post's videos are on priority (adaptive) streaming after the edit."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters or no fields to update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not your upload, the post is moderated, a restricted post cannot be made public, or no priority minutes remain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Upload not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/appendUpload": {
      "post": {
        "summary": "Add to Album",
        "description": "Add one or more files to an existing album post (max 50 files total). New files inherit the post's privacy. You must own the post.",
        "operationId": "appendUpload",
        "parameters": [
          {
            "name": "post-code",
            "in": "header",
            "required": true,
            "description": "The share code of the post to append to",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include-metadata",
            "in": "header",
            "required": false,
            "description": "By default, Snipp strips metadata (camera, GPS location, timestamp) to protect your privacy: metadata is removed from PNG, JPG, WebP and GIF images at any size without re-encoding, and container metadata is removed from videos during the MP4 remux. Set to `true` to keep the original metadata.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "description": "Appended videos use priority (adaptive) streaming by default, spending your priority minutes. Set to `false` to add them in standard quality instead. The post's `priority` field reflects whether any file in the album is on adaptive streaming.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "1 or more image or video files. Use multiple `file` fields for multi-file appends. Total file count after append cannot exceed 50."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files appended to album",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "post": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "description": "Share page URL"
                        },
                        "postPrivacy": {
                          "type": "string",
                          "enum": [
                            "public",
                            "unlisted",
                            "private"
                          ]
                        },
                        "fileCount": {
                          "type": "integer",
                          "description": "Total files in the album after append"
                        },
                        "priority": {
                          "type": "boolean",
                          "description": "`true` when any file in the album is a video on priority (adaptive) streaming."
                        }
                      }
                    },
                    "files": {
                      "type": "array",
                      "description": "Files that were successfully added",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "description": "Direct URL. Signed with a 24-hour expiry if the post is private."
                          },
                          "size": {
                            "type": "integer"
                          },
                          "size_formatted": {
                            "type": "string"
                          },
                          "mime_type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "success"
                            ]
                          },
                          "dimensions": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "width": {
                                "type": "integer"
                              },
                              "height": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "failed": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "error": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "failed"
                            ]
                          },
                          "quota": {
                            "type": "integer",
                            "description": "Weekly byte quota. Present only when the file was rejected by the weekly usage limit."
                          },
                          "used": {
                            "type": "integer",
                            "description": "Bytes already used in the current window. Present only when the file was rejected by the weekly usage limit."
                          },
                          "resetsAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "When the current window resets. Present only when the file was rejected by the weekly usage limit."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing/invalid post-code, no file, album already full, would exceed 50-file cap, or all files failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended, no permission to modify uploads, not the owner, or post is moderated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Endpoint unavailable during development",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File exceeds your plan's size limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/discover": {
      "get": {
        "summary": "Discover Feed",
        "description": "Get public uploads for the discover feed. Returns up to 50 items. Blocked users are filtered both ways. Hits to this endpoint also count views toward each returned post (deduplicated per IP and post: 3 per hour).",
        "operationId": "discover",
        "responses": {
          "200": {
            "description": "Discover feed uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Thumbnail URL. Only present when the post has a thumbnail."
                          },
                          "code": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "created": {
                            "type": "string",
                            "nullable": true
                          },
                          "views": {
                            "type": "integer",
                            "description": "Total view count for the post (auto-incremented on this request when applicable)."
                          },
                          "likeCount": {
                            "type": "integer",
                            "description": "Total likes on the post."
                          },
                          "liked": {
                            "type": "boolean",
                            "description": "Whether the requesting user has liked this post."
                          },
                          "commentCount": {
                            "type": "integer",
                            "description": "Total comments on the post."
                          },
                          "priority": {
                            "type": "boolean",
                            "description": "True when the post's video is served over priority delivery, false for standard delivery."
                          },
                          "author": {
                            "type": "string"
                          },
                          "authorId": {
                            "type": "string",
                            "nullable": true
                          },
                          "authorUsername": {
                            "type": "string",
                            "nullable": true
                          },
                          "authorAvatar": {
                            "type": "string",
                            "nullable": true
                          },
                          "authorPlus": {
                            "type": "boolean"
                          },
                          "isVerified": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/blocks": {
      "get": {
        "summary": "List Blocked Users",
        "description": "Returns the list of users you have blocked.",
        "operationId": "listBlocks",
        "responses": {
          "200": {
            "description": "List of blocked users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/block": {
      "post": {
        "summary": "Block User",
        "description": "Block a user by ID. Blocking is bidirectional in effect. Blocking an already-blocked user succeeds without error.",
        "operationId": "blockUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetId": {
                    "type": "string",
                    "description": "The user ID to block"
                  }
                },
                "required": [
                  "targetId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocked": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid target or cannot block yourself",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/unblock": {
      "post": {
        "summary": "Unblock User",
        "description": "Unblock a user by ID. Unblocking a user who is not blocked succeeds without error.",
        "operationId": "unblockUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetId": {
                    "type": "string",
                    "description": "The user ID to unblock"
                  }
                },
                "required": [
                  "targetId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocked": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid target",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/follow": {
      "post": {
        "summary": "Follow User",
        "description": "Follow a user by ID. Following an already-followed user succeeds without error. You cannot follow yourself, suspended users, or users who have blocked you (or whom you have blocked).",
        "operationId": "followUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetId": {
                    "type": "string",
                    "description": "The user ID to follow"
                  }
                },
                "required": [
                  "targetId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Follow status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "following": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid target or cannot follow yourself",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Blocked relationship or account suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/unfollow": {
      "post": {
        "summary": "Unfollow User",
        "description": "Unfollow a user by ID, or remove one of your own followers. Exactly one of `targetId` or `removeFollower` must be provided. If both are present, `removeFollower` takes precedence.",
        "operationId": "unfollowUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetId": {
                    "type": "string",
                    "description": "The user ID to unfollow"
                  },
                  "removeFollower": {
                    "type": "string",
                    "description": "The follower user ID to remove from your followers"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unfollow or remove-follower status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "following": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "removed": {
                      "type": "boolean",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or non-numeric targetId and removeFollower",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/followers": {
      "get": {
        "summary": "List Followers",
        "description": "Return the list of users following the given profile. Capped at 200 results, newest first. Suspended users are excluded.",
        "operationId": "listFollowers",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "User ID whose followers to list. Defaults to the authenticated user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Follower list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FollowListUser"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/following": {
      "get": {
        "summary": "List Following",
        "description": "Return the list of users a given profile is following. Capped at 200 results, newest first. Suspended users are excluded.",
        "operationId": "listFollowing",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "User ID whose following list to fetch. Defaults to the authenticated user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Following list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FollowListUser"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/like": {
      "post": {
        "summary": "Like Post",
        "description": "Like a post. Calling it twice removes the like.",
        "operationId": "toggleLike",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shareCode": {
                    "type": "string",
                    "description": "The share code of the post"
                  }
                },
                "required": [
                  "shareCode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Like state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "liked": {
                      "type": "boolean"
                    },
                    "likeCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid share code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Cannot like (suspended, moderated, team post, or blocked by author)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/comments": {
      "get": {
        "summary": "List Comments",
        "description": "List comments on a post. Pass `shareCode` as a query parameter or `code` as a header.",
        "operationId": "listComments",
        "parameters": [
          {
            "name": "shareCode",
            "in": "query",
            "required": false,
            "description": "The share code of the post",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "username": {
                            "type": "string",
                            "nullable": true
                          },
                          "nickname": {
                            "type": "string",
                            "nullable": true
                          },
                          "avatar": {
                            "type": "string",
                            "nullable": true
                          },
                          "isVerified": {
                            "type": "boolean"
                          },
                          "plus": {
                            "type": "boolean"
                          },
                          "likes": {
                            "type": "integer",
                            "description": "Number of likes on the comment"
                          },
                          "liked": {
                            "type": "boolean",
                            "description": "Whether the authenticated user has liked the comment"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid share code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/comment": {
      "post": {
        "summary": "Add Comment",
        "description": "Add a comment to a post. Comments are limited to 200 characters. A post holds up to 500 comments.",
        "operationId": "addComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shareCode": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 200
                  }
                },
                "required": [
                  "shareCode",
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment": {
                      "type": "object"
                    },
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or post comment cap reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Cannot comment (suspended, moderated, or blocked by author)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Comment",
        "description": "Delete a comment by ID. The comment author or the post owner can delete a comment.",
        "operationId": "deleteComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shareCode": {
                    "type": "string"
                  },
                  "commentId": {
                    "type": "string",
                    "description": "The UUID of the comment to delete"
                  }
                },
                "required": [
                  "shareCode",
                  "commentId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed to delete this comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post or comment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "patch": {
        "summary": "Update Profile",
        "description": "Update profile fields. Send only the fields you want to change. Avatar and banner URLs must point to your own avatars/{userId}/ or banners/{userId}/ prefix on the Snipp CDN. Use /profile/avatar or /profile/banner to upload first.",
        "operationId": "updateProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bio": {
                    "type": "string",
                    "maxLength": 200,
                    "nullable": true
                  },
                  "nickname": {
                    "type": "string",
                    "maxLength": 15,
                    "nullable": true
                  },
                  "username": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 15
                  },
                  "socials": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  },
                  "avatar": {
                    "type": "string",
                    "nullable": true
                  },
                  "banner": {
                    "type": "string",
                    "nullable": true
                  },
                  "customEmbed": {
                    "type": "object",
                    "nullable": true,
                    "description": "PLUS-only. Custom embed configuration for share pages.",
                    "properties": {
                      "title": {
                        "type": "string",
                        "maxLength": 60
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "themeColor": {
                        "type": "string",
                        "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$"
                      },
                      "smallText": {
                        "type": "string",
                        "maxLength": 50
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
[...]
