{
  "openapi": "3.0.0",
  "info": {
    "title": "Snipp.gg Relay API",
    "description": "First-party Snipp API for the full user experience. Includes uploads, posts, discover, likes, comments, blocks, and profile management.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://relay.snipp.gg",
      "description": "Default. Proxied and load-balanced through Cloudflare. Capped at 100 MB per upload."
    },
    {
      "url": "https://eu-west-1.relay.snipp.gg",
      "description": "EU West regional endpoint. Unproxied, no 100 MB upload cap."
    },
    {
      "url": "https://us-west-1.relay.snipp.gg",
      "description": "US West regional endpoint. Unproxied, no 100 MB upload cap."
    }
  ],
  "security": [
    {
      "relayKeyAuth": []
    }
  ],
  "paths": {
    "/users/{id}": {
      "get": {
        "summary": "Get User",
        "description": "Retrieve user profile data. Includes badge flags and a `badges` object (ordered as `verified`, `staff`, `partner`, `bugHunterTier`, `translator`, `plus`). For non-self requests, public profile uploads are included by default as `publicUploads`.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID or `@me` for the authenticated user",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includePosts",
            "in": "query",
            "required": false,
            "description": "Include `publicUploads` in the response. Defaults to `true` for non-self requests and `false` for `@me`.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "postsLimit",
            "in": "query",
            "required": false,
            "description": "Maximum number of `publicUploads` to return (1-50, default 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserResponse"
                },
                "examples": {
                  "selfProfile": {
                    "summary": "@me Response",
                    "value": {
                      "user": {
                        "id": "123456789012345678",
                        "username": "snipp",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "banner": null,
                        "nickname": "Snipp",
                        "bio": null,
                        "socials": null,
                        "apiKey": "aB3xK9mP2qR7sT1vW4yZ6cD8fG0hJ5kL",
                        "relayKey": "Zy7wV4uT1sR8qP5nM2kJ9hG6fD3bC0aX",
                        "plus": true,
                        "enterprise": false,
                        "verified": true,
                        "staff": false,
                        "partner": false,
                        "translator": false,
                        "bugHunterTier": 0,
                        "suspended": false,
                        "created": "2025-01-01T00:00:00.000Z",
                        "customEmbed": null,
                        "theme": "waterfall",
                        "badges": {
                          "verified": true,
                          "staff": false,
                          "partner": false,
                          "bugHunterTier": 0,
                          "translator": false,
                          "plus": true
                        },
                        "uploads": 42,
                        "limits": {
                          "plan": "plus",
                          "maxFileSize": null,
                          "usage": {
                            "used": 1073741824,
                            "limit": 21474836480,
                            "usedPercent": 0.05,
                            "windowStart": "2026-05-01T00:00:00.000Z",
                            "windowEnd": "2026-05-08T00:00:00.000Z",
                            "resetsInSeconds": 172800
                          }
                        },
                        "subscription": {
                          "plan": "plus",
                          "status": "active",
                          "started_at": "2025-05-08T00:00:00.000Z",
                          "expires_at": "2026-05-08T00:00:00.000Z",
                          "cancel_at_period_end": false,
                          "gifted": false
                        }
                      }
                    }
                  },
                  "publicProfile": {
                    "summary": "Public Profile Response",
                    "value": {
                      "user": {
                        "id": "987654321098765432",
                        "username": "creator",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "banner": null,
                        "nickname": "Creator",
                        "bio": "Hello world",
                        "socials": {
                          "x": "snippgg"
                        },
                        "plus": true,
                        "enterprise": false,
                        "verified": true,
                        "staff": false,
                        "partner": false,
                        "translator": false,
                        "bugHunterTier": 1,
                        "suspended": false,
                        "created": "2025-01-01T00:00:00.000Z",
                        "customEmbed": null,
                        "badges": {
                          "verified": true,
                          "staff": false,
                          "partner": false,
                          "bugHunterTier": 1,
                          "translator": false,
                          "plus": true
                        },
                        "publicUploads": [
                          {
                            "url": "https://i.snipp.gg/987654321098765432/example",
                            "code": "AbCd1234",
                            "title": "Launch teaser",
                            "description": "Public post",
                            "created": "2025-01-02T00:00:00.000Z",
                            "public": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. No relay-key header or invalid relay key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/posts/{code}": {
      "get": {
        "summary": "Get Post",
        "description": "Fetch a post by its share code. Returns the post's metadata including its direct file URL, title, description, privacy level, and creation date. Private posts are only visible to the owner.",
        "operationId": "getPost",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "The share code of the post",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "nullable": true,
                          "description": "Direct URL to the primary file"
                        },
                        "urls": {
                          "type": "array",
                          "description": "Ordered list of all file URLs. Only present on albums (more than one file).",
                          "items": {
                            "type": "string"
                          }
                        },
                        "isAlbum": {
                          "type": "boolean",
                          "description": "True when the post contains more than one file."
                        },
                        "files": {
                          "type": "array",
                          "description": "Per-file metadata. Use `fileName` to address a file in /deleteUpload.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": {
                                "type": "integer"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "width": {
                                "type": "integer",
                                "description": "File width in pixels. Present per file when known; absent for older uploads."
                              },
                              "height": {
                                "type": "integer",
                                "description": "File height in pixels. Present per file when known; absent for older uploads."
                              },
                              "mime_type": {
                                "type": "string",
                                "description": "File MIME type. Present per file when known; absent for older uploads."
                              },
                              "size": {
                                "type": "integer",
                                "description": "File size in bytes. Present per file when known; absent for older uploads."
                              },
                              "size_formatted": {
                                "type": "string",
                                "description": "Human-readable file size. Present when size is known."
                              }
                            }
                          }
                        },
                        "thumbnailUrl": {
                          "type": "string",
                          "description": "URL to a generated thumbnail still frame. Present for video posts; signed (24-hour expiry) for private posts."
                        },
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "postPrivacy": {
                          "type": "string",
                          "enum": [
                            "public",
                            "unlisted",
                            "private"
                          ]
                        },
                        "created": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "views": {
                          "type": "integer",
                          "description": "Total view count for the post (auto-incremented on this request when applicable)."
                        },
                        "likeCount": {
                          "type": "integer",
                          "description": "Total likes on the post."
                        },
                        "liked": {
                          "type": "boolean",
                          "description": "Whether the requesting user has liked this post."
                        },
                        "commentCount": {
                          "type": "integer",
                          "description": "Total comments on the post."
                        },
                        "author": {
                          "type": "object",
                          "nullable": true,
                          "description": "The post's uploader. Null if the user has been deleted.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Snowflake ID of the author."
                            },
                            "username": {
                              "type": "string",
                              "nullable": true
                            },
                            "nickname": {
                              "type": "string",
                              "nullable": true
                            },
                            "avatar": {
                              "type": "string",
                              "nullable": true,
                              "description": "Avatar URL, or null if unset."
                            },
                            "verified": {
                              "type": "boolean"
                            },
                            "plus": {
                              "type": "boolean",
                              "description": "Whether the author has Snipp PLUS."
                            }
                          }
                        },
                        "priority": {
                          "type": "boolean",
                          "description": "True when the post's video is served over priority delivery, false for standard delivery."
                        },
                        "file": {
                          "type": "object",
                          "description": "File metadata. May be absent for older uploads.",
                          "properties": {
                            "size": {
                              "type": "integer",
                              "description": "File size in bytes"
                            },
                            "size_formatted": {
                              "type": "string",
                              "description": "Human-readable file size"
                            },
                            "mime_type": {
                              "type": "string",
                              "description": "MIME type"
                            },
                            "dimensions": {
                              "type": "object",
                              "description": "Image dimensions. Only present for images and GIFs.",
                              "properties": {
                                "width": {
                                  "type": "integer"
                                },
                                "height": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "post": {
                    "summary": "Post Response",
                    "value": {
                      "post": {
                        "code": "AbCd1234",
                        "url": "https://i.snipp.gg/123456789012345678/example.png",
                        "title": "My screenshot",
                        "description": "A cool screenshot",
                        "postPrivacy": "public",
                        "created": "2025-01-02T00:00:00.000Z",
                        "views": 42,
                        "likeCount": 7,
                        "liked": false,
                        "commentCount": 3,
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://cdn.snipp.gg/avatars/123456789012345678/avatar.png",
                          "verified": false,
                          "plus": true
                        },
                        "priority": false,
                        "file": {
                          "size": 2621440,
                          "size_formatted": "2.50 MB",
                          "mime_type": "image/png",
                          "dimensions": {
                            "width": 1920,
                            "height": 1080
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Post has been moderated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    },
                    "moderated": {
                      "type": "boolean",
                      "description": "Present and true when the post has been moderated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/upload": {
      "post": {
        "summary": "Upload File(s)",
        "description": "Upload 1-9 image or video files. Supports PNG, JPG, WebP, GIF, MP4, MOV, and MKV. Every upload automatically creates a post. When sending multiple files, they are grouped into an album by default. File size limits depend on your plan. See [Plans](/concepts/plans) for details.",
        "operationId": "upload",
        "parameters": [
          {
            "name": "post-privacy",
            "in": "header",
            "required": false,
            "description": "Privacy for the generated post: private (default), unlisted (accessible via link), or public (visible on Discover)",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "unlisted",
                "private"
              ],
              "default": "private"
            }
          },
          {
            "name": "post-title",
            "in": "header",
            "required": false,
            "description": "Post title (max 30 characters)",
            "schema": {
              "type": "string",
              "maxLength": 30
            }
          },
          {
            "name": "post-description",
            "in": "header",
            "required": false,
            "description": "Post description (max 200 characters)",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "post-type",
            "in": "header",
            "required": false,
            "description": "Only relevant when uploading 2+ files. `album` (default) groups all files into a single album post. `individual` creates a separate post per file.",
            "schema": {
              "type": "string",
              "enum": [
                "album",
                "individual"
              ],
              "default": "album"
            }
          },
          {
            "name": "include-metadata",
            "in": "header",
            "required": false,
            "description": "By default, Snipp strips metadata (camera, GPS location, timestamp) to protect your privacy: EXIF from PNG, JPG, and WebP images, and container metadata from videos during the MP4 remux. Set to `true` to keep the original metadata.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "description": "Eligible videos use priority (adaptive bitrate) streaming by default, spending your priority minutes. Set to `false` to upload in standard quality instead and save your minutes. The post's `priority` field reflects whether the video ended up on adaptive streaming.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "1-9 image or video files. Use multiple `file` fields for multi-file uploads."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful. Response shape depends on whether 1 or multiple files were uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Single file response",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Upload successful!"
                        },
                        "url": {
                          "type": "string",
                          "description": "Direct URL to the uploaded file"
                        },
                        "file": {
                          "type": "object",
                          "properties": {
                            "size": {
                              "type": "integer",
                              "description": "File size in bytes"
                            },
                            "size_formatted": {
                              "type": "string"
                            },
                            "mime_type": {
                              "type": "string"
                            },
                            "dimensions": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "width": {
                                  "type": "integer"
                                },
                                "height": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        },
                        "processing_time": {
                          "type": "integer"
                        },
                        "post": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string",
                              "description": "Share page URL"
                            },
                            "postPrivacy": {
                              "type": "string",
                              "enum": [
                                "public",
                                "unlisted",
                                "private"
                              ]
                            },
                            "priority": {
                              "type": "boolean",
                              "description": "`true` when the upload is a video placed on priority (adaptive) streaming."
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Multi-file response",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": {
                                "type": "integer"
                              },
                              "url": {
                                "type": "string"
                              },
                              "size": {
                                "type": "integer"
                              },
                              "size_formatted": {
                                "type": "string"
                              },
                              "mime_type": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "success"
                                ]
                              },
                              "dimensions": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "width": {
                                    "type": "integer"
                                  },
                                  "height": {
                                    "type": "integer"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "failed": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": {
                                "type": "integer"
                              },
                              "error": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "failed"
                                ]
                              }
                            }
                          }
                        },
                        "processing_time": {
                          "type": "integer"
                        },
                        "post": {
                          "type": "object",
                          "description": "Album mode returns `code`/`url`/`isAlbum`/`fileCount`. Individual mode returns `posts` array.",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "postPrivacy": {
                              "type": "string"
                            },
                            "isAlbum": {
                              "type": "boolean"
                            },
                            "fileCount": {
                              "type": "integer"
                            },
                            "priority": {
                              "type": "boolean",
                              "description": "Album mode: `true` when any file in the album is a video placed on priority (adaptive) streaming."
                            },
                            "posts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "postPrivacy": {
                                    "type": "string"
                                  },
                                  "priority": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "No file, unsupported type, or all files failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File exceeds your plan's size limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/uploads": {
      "get": {
        "summary": "List Uploads",
        "description": "List your uploads, newest first. Returns all by default. Pass `?limit=N` to cap the response (max 1000).",
        "operationId": "listUploads",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum uploads to return (1-1000). Omit for all.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recent uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "nullable": true,
                            "description": "Associated share code when a post exists"
                          },
                          "isAlbum": {
                            "type": "boolean",
                            "description": "Whether the upload belongs to an album post"
                          },
                          "url": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string",
                            "nullable": true,
                            "description": "Post title, or null when none is set"
                          },
                          "size": {
                            "type": "integer",
                            "description": "File size in bytes"
                          },
                          "size_formatted": {
                            "type": "string",
                            "description": "Human-readable file size (e.g. \"2.50 MB\")"
                          },
                          "uploaded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp"
                          },
                          "priority": {
                            "type": "boolean",
                            "description": "True when the post's video is served over priority delivery, false for standard delivery."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "No permission to access recent uploads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deleteUpload": {
      "delete": {
        "summary": "Delete Upload",
        "description": "Delete an uploaded file by filename.",
        "operationId": "deleteUpload",
        "parameters": [
          {
            "name": "file",
            "in": "header",
            "required": true,
            "description": "Filename (32 hex chars + extension, e.g. a1b2c3d4e5f6...png)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "File deleted successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid file parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "No permission to delete uploads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/editUpload": {
      "patch": {
        "summary": "Edit Upload",
        "description": "Edit an existing upload's title, description, or privacy level. You must own the upload.",
        "operationId": "editUpload",
        "parameters": [
          {
            "name": "code",
            "in": "header",
            "required": true,
            "description": "The share code of the upload to edit",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "post-privacy",
            "in": "header",
            "required": false,
            "description": "New privacy level",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "unlisted",
                "private"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "New title (max 30 characters). Send empty string to clear. Use a form field rather than a header so emoji and accented characters are preserved."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "New description (max 200 characters). Send empty string to clear. Use a form field rather than a header so emoji and accented characters are preserved."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Upload updated successfully."
                    },
                    "post": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "postPrivacy": {
                          "type": "string",
                          "enum": [
                            "public",
                            "unlisted",
                            "private"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters or no fields to update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "No permission to edit uploads, not the owner, post is moderated, or post is restricted and cannot be made public",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Upload not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/appendUpload": {
      "post": {
        "summary": "Add to Album",
        "description": "Add one or more files to an existing album post (max 9 files total). New files inherit the post's privacy. You must own the post.",
        "operationId": "appendUpload",
        "parameters": [
          {
            "name": "post-code",
            "in": "header",
            "required": true,
            "description": "The share code of the post to append to",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include-metadata",
            "in": "header",
            "required": false,
            "description": "By default, Snipp strips metadata (camera, GPS location, timestamp) to protect your privacy: EXIF from PNG, JPG, and WebP images, and container metadata from videos during the MP4 remux. Set to `true` to keep the original metadata.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "priority",
            "in": "header",
            "required": false,
            "description": "Appended videos use priority (adaptive) streaming by default, spending your priority minutes. Set to `false` to add them in standard quality instead. The post's `priority` field reflects whether any file in the album is on adaptive streaming.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "1 or more image or video files. Use multiple `file` fields for multi-file appends. Total file count after append cannot exceed 9."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files appended to album",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "post": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "description": "Share page URL"
                        },
                        "postPrivacy": {
                          "type": "string",
                          "enum": [
                            "public",
                            "unlisted",
                            "private"
                          ]
                        },
                        "fileCount": {
                          "type": "integer",
                          "description": "Total files in the album after append"
                        },
                        "priority": {
                          "type": "boolean",
                          "description": "`true` when any file in the album is a video on priority (adaptive) streaming."
                        }
                      }
                    },
                    "files": {
                      "type": "array",
                      "description": "Files that were successfully added",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "description": "Direct URL. Signed with a 24-hour expiry if the post is private."
                          },
                          "size": {
                            "type": "integer"
                          },
                          "size_formatted": {
                            "type": "string"
                          },
                          "mime_type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "success"
                            ]
                          },
                          "dimensions": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "width": {
                                "type": "integer"
                              },
                              "height": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "failed": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "error": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "failed"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing/invalid post-code, no file, album already full, would exceed 9-file cap, or all files failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended, no permission to modify uploads, not the owner, or post is moderated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Endpoint unavailable during development",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File exceeds your plan's size limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/discover": {
      "get": {
        "summary": "Discover Feed",
        "description": "Get public uploads for the discover feed. Returns up to 50 items. Blocked users are filtered both ways. Hits to this endpoint also count views toward each returned post (deduplicated per IP and post: 3 per hour).",
        "operationId": "discover",
        "responses": {
          "200": {
            "description": "Discover feed uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "created": {
                            "type": "string",
                            "nullable": true
                          },
                          "views": {
                            "type": "integer",
                            "description": "Total view count for the post (auto-incremented on this request when applicable)."
                          },
                          "likeCount": {
                            "type": "integer",
                            "description": "Total likes on the post."
                          },
                          "commentCount": {
                            "type": "integer",
                            "description": "Total comments on the post."
                          },
                          "priority": {
                            "type": "boolean",
                            "description": "True when the post's video is served over priority delivery, false for standard delivery."
                          },
                          "author": {
                            "type": "string"
                          },
                          "authorId": {
                            "type": "string",
                            "nullable": true
                          },
                          "authorUsername": {
                            "type": "string",
                            "nullable": true
                          },
                          "authorAvatar": {
                            "type": "string",
                            "nullable": true
                          },
                          "authorPlus": {
                            "type": "boolean"
                          },
                          "isVerified": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/blocks": {
      "get": {
        "summary": "List Blocked Users",
        "description": "Returns the list of users you have blocked.",
        "operationId": "listBlocks",
        "responses": {
          "200": {
            "description": "List of blocked users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/block": {
      "post": {
        "summary": "Block User",
        "description": "Block a user by ID. Blocking is bidirectional in effect. Blocking an already-blocked user succeeds without error.",
        "operationId": "blockUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetId": {
                    "type": "string",
                    "description": "The user ID to block"
                  }
                },
                "required": [
                  "targetId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocked": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid target or cannot block yourself",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/unblock": {
      "post": {
        "summary": "Unblock User",
        "description": "Unblock a user by ID. Unblocking a user who is not blocked succeeds without error.",
        "operationId": "unblockUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetId": {
                    "type": "string",
                    "description": "The user ID to unblock"
                  }
                },
                "required": [
                  "targetId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocked": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid target",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/follow": {
      "post": {
        "summary": "Follow User",
        "description": "Follow a user by ID. Following an already-followed user succeeds without error. You cannot follow yourself, suspended users, or users who have blocked you (or whom you have blocked).",
        "operationId": "followUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetId": {
                    "type": "string",
                    "description": "The user ID to follow"
                  }
                },
                "required": [
                  "targetId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Follow status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "following": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid target or cannot follow yourself",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Blocked relationship or account suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/unfollow": {
      "post": {
        "summary": "Unfollow User",
        "description": "Unfollow a user by ID, or remove one of your own followers. Exactly one of `targetId` or `removeFollower` must be provided. If both are present, `removeFollower` takes precedence.",
        "operationId": "unfollowUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetId": {
                    "type": "string",
                    "description": "The user ID to unfollow"
                  },
                  "removeFollower": {
                    "type": "string",
                    "description": "The follower user ID to remove from your followers"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unfollow or remove-follower status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "following": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "removed": {
                      "type": "boolean",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing targetId and removeFollower",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/followers": {
      "get": {
        "summary": "List Followers",
        "description": "Return the list of users following the given profile. Capped at 200 results, newest first. Suspended users are excluded.",
        "operationId": "listFollowers",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "User ID whose followers to list. Defaults to the authenticated user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Follower list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FollowListUser"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/following": {
      "get": {
        "summary": "List Following",
        "description": "Return the list of users a given profile is following. Capped at 200 results, newest first. Suspended users are excluded.",
        "operationId": "listFollowing",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "User ID whose following list to fetch. Defaults to the authenticated user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Following list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FollowListUser"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/like": {
      "post": {
        "summary": "Like Post",
        "description": "Like a post. Calling it twice removes the like.",
        "operationId": "toggleLike",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shareCode": {
                    "type": "string",
                    "description": "The share code of the post"
                  }
                },
                "required": [
                  "shareCode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Like state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "liked": {
                      "type": "boolean"
                    },
                    "likeCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid share code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Cannot like (suspended, moderated, or blocked by author)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/comments": {
      "get": {
        "summary": "List Comments",
        "description": "List comments on a post. Pass `shareCode` as a query parameter or `code` as a header.",
        "operationId": "listComments",
        "parameters": [
          {
            "name": "shareCode",
            "in": "query",
            "required": false,
            "description": "The share code of the post",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "username": {
                            "type": "string",
                            "nullable": true
                          },
                          "nickname": {
                            "type": "string",
                            "nullable": true
                          },
                          "avatar": {
                            "type": "string",
                            "nullable": true
                          },
                          "isVerified": {
                            "type": "boolean"
                          },
                          "plus": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid share code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/comment": {
      "post": {
        "summary": "Add Comment",
        "description": "Add a comment to a post. Comments are limited to 200 characters. A post holds up to 500 comments.",
        "operationId": "addComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shareCode": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 200
                  }
                },
                "required": [
                  "shareCode",
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment": {
                      "type": "object"
                    },
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or post comment cap reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Cannot comment (suspended, moderated, or blocked by author)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Comment",
        "description": "Delete a comment by ID. The comment author or the post owner can delete a comment.",
        "operationId": "deleteComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shareCode": {
                    "type": "string"
                  },
                  "commentId": {
                    "type": "string",
                    "description": "The UUID of the comment to delete"
                  }
                },
                "required": [
                  "shareCode",
                  "commentId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed to delete this comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post or comment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "patch": {
        "summary": "Update Profile",
        "description": "Update profile fields. Send only the fields you want to change. Avatar and banner URLs must point to your own avatars/{userId}/ or banners/{userId}/ prefix on the Snipp CDN. Use /profile/avatar or /profile/banner to upload first.",
        "operationId": "updateProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bio": {
                    "type": "string",
                    "maxLength": 200,
                    "nullable": true
                  },
                  "nickname": {
                    "type": "string",
                    "maxLength": 15,
                    "nullable": true
                  },
                  "username": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 15
                  },
                  "email": {
                    "type": "string",
                    "maxLength": 50,
                    "nullable": true
                  },
                  "socials": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  },
                  "avatar": {
                    "type": "string",
                    "nullable": true
                  },
                  "banner": {
                    "type": "string",
                    "nullable": true
                  },
                  "customEmbed": {
                    "type": "object",
                    "nullable": true,
                    "description": "PLUS-only. Custom embed configuration for share pages.",
                    "properties": {
                      "title": {
                        "type": "string",
                        "maxLength": 60
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "themeColor": {
                        "type": "string",
                        "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$"
                      },
                      "smallText": {
                        "type": "string",
                        "maxLength": 50
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PLUS-only feature requested without PLUS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile/avatar": {
      "post": {
        "summary": "Upload Avatar",
        "description": "Upload a new avatar. Multipart form upload. Image is square-cropped to the shorter side and stored under avatars/{userId}/. Accepts .png, .jpg, .webp, .gif up to 30 MB. Sets the field on your profile automatically.",
        "operationId": "uploadAvatar",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Avatar uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "avatar"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No file or invalid type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File too large (over 30 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile/banner": {
      "post": {
        "summary": "Upload Banner",
        "description": "Upload a new banner. Multipart form upload. Banner keeps its original aspect ratio and is stored under banners/{userId}/. Accepts .png, .jpg, .webp, .gif up to 30 MB. Sets the field on your profile automatically.",
        "operationId": "uploadBanner",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Banner uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "banner"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No file or invalid type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File too large (over 30 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/theme": {
      "patch": {
        "summary": "Update Theme",
        "description": "Set your account color theme. PLUS-only. The theme is stored on your account and returned as theme on your /users/@me profile. It is never exposed on other users profiles.",
        "operationId": "updateTheme",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "theme"
                ],
                "properties": {
                  "theme": {
                    "type": "string",
                    "enum": [
                      "red",
                      "orange",
                      "amber",
                      "yellow",
                      "pastel_yellow",
                      "pastel_orange",
                      "lime",
                      "light_green",
                      "slime",
                      "green",
                      "emerald",
                      "teal",
                      "ice",
                      "cyan",
                      "sky",
                      "pastel_blue",
                      "waterfall",
                      "blue",
                      "midnight_blue",
                      "indigo",
                      "light_violet",
                      "violet",
                      "purple",
                      "magneta",
                      "fuchsia",
                      "pastel_purple",
                      "light_pink",
                      "pink",
                      "rose",
                      "dark_rose",
                      "dynamic"
                    ],
                    "description": "The color theme key to set."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Theme updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "theme": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid theme",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "PLUS-only feature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/report-post": {
      "post": {
        "summary": "Report Post",
        "description": "Report a post for violating community guidelines. The post must be public and not your own. Reports are reviewed by the moderation team.",
        "operationId": "reportPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The share code of the post to report"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for the report",
                    "maxLength": 200
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid code, or reason too long",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Post already moderated, reporting own post, or author has blocked you",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post not found or private",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/report-user": {
      "post": {
        "summary": "Report User",
        "description": "Report a user for violating community guidelines. The user must exist and cannot be yourself. Reports are reviewed by the moderation team.",
        "operationId": "reportUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetUserId": {
                    "type": "string",
                    "description": "The ID of the user to report"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for the report",
                    "maxLength": 200
                  }
                },
                "required": [
                  "targetUserId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid user, or reason too long",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
[...]
