{
  "openapi": "3.0.0",
  "info": {
    "title": "Snipp.gg Relay API",
    "description": "First-party Snipp API for the full user experience: uploads, posts, discover, likes, comments, notifications, blocks and profile management.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://relay.snipp.gg",
      "description": "Default. Load-balanced across regions. No upload cap."
    },
    {
      "url": "https://eu-west-1.relay.snipp.gg",
      "description": "EU West regional endpoint. Pins uploads and storage to EU West."
    },
    {
      "url": "https://us-west-1.relay.snipp.gg",
      "description": "US West regional endpoint. Pins uploads and storage to US West."
    },
    {
      "url": "https://pulsar.snipp.gg",
      "description": "Alternative host. Capped at 100 MB per upload."
    }
  ],
  "security": [
    {
      "relayKeyAuth": []
    }
  ],
  "paths": {
    "/users/{id}": {
      "get": {
        "summary": "Get User",
        "description": "Fetch a user profile. Pass `@me` or your own ID for your full account, including keys and limits.",
        "operationId": "getUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/SelfUser"
                        },
                        {
                          "$ref": "#/components/schemas/User"
                        }
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ]
                },
                "examples": {
                  "self": {
                    "summary": "@me",
                    "value": {
                      "user": {
                        "id": "123456789012345678",
                        "username": "playerone",
                        "nickname": "Player One",
                        "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                        "banner": "https://i.snipp.gg/banners/123456789012345678/1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f.png",
                        "bio": "Building things at Snipp",
                        "socials": {
                          "github": "https://github.com/playerone"
                        },
                        "plan": "plus",
                        "verified": false,
                        "staff": false,
                        "partner": false,
                        "translator": false,
                        "bug_hunter_tier": 0,
                        "suspended": false,
                        "created_at": "2026-01-04T09:30:00.000Z",
                        "custom_embed": null,
                        "follower_count": 128,
                        "following_count": 47,
                        "following": false,
                        "blocking": false,
                        "api_key": "aB3xK9mP2qR7sT1vW4yZ6cD8fG0hJ5kL",
                        "key_has_uploads_access": true,
                        "relay_key": "Zy7wV4uT1sR8qP5nM2kJ9hG6fD3bC0aX",
                        "upload_count": 42,
                        "limits": {
                          "max_file_size": 21474836480,
                          "usage": {
                            "used": 1073741824,
                            "limit": 21474836480,
                            "used_percent": 5,
                            "resets_at": "2026-10-04T16:20:00.000Z"
                          },
                          "priority_minutes": {
                            "used": 12,
                            "limit": 100,
                            "used_percent": 12,
                            "resets_at": "2026-10-19T16:20:00.000Z"
                          }
                        },
                        "theme": "pastel_blue",
                        "subscription": {
                          "status": "active",
                          "started_at": "2026-01-04T09:30:00.000Z",
                          "expires_at": "2026-11-04T09:30:00.000Z",
                          "cancel_at_period_end": false,
                          "gifted": false
                        }
                      }
                    }
                  },
                  "other": {
                    "summary": "Another user",
                    "value": {
                      "user": {
                        "id": "987654321098765432",
                        "username": "playertwo",
                        "nickname": "Player Two",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "banner": null,
                        "bio": null,
                        "socials": null,
                        "plan": "free",
                        "verified": false,
                        "staff": false,
                        "partner": false,
                        "translator": false,
                        "bug_hunter_tier": 1,
                        "suspended": false,
                        "created_at": "2026-02-18T14:00:00.000Z",
                        "custom_embed": null,
                        "follower_count": 12,
                        "following_count": 30,
                        "following": true,
                        "blocking": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      },
      "patch": {
        "summary": "Update Profile",
        "description": "Update your own profile. `id` must be `@me` or your own ID. Send only the fields you want to change.",
        "operationId": "updateUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "4 to 15 characters: letters, numbers, underscores."
                  },
                  "nickname": {
                    "type": "string",
                    "maxLength": 15,
                    "nullable": true
                  },
                  "bio": {
                    "type": "string",
                    "maxLength": 200,
                    "nullable": true
                  },
                  "socials": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "nullable": true
                    },
                    "nullable": true
                  },
                  "custom_embed": {
                    "$ref": "#/components/schemas/CustomEmbed",
                    "nullable": true
                  },
                  "theme": {
                    "type": "string",
                    "description": "Accent theme key. Snipp+ only."
                  }
                }
              },
              "example": {
                "bio": "Shipping clips daily",
                "nickname": "P1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/SelfUser"
                    }
                  },
                  "required": [
                    "user"
                  ]
                },
                "example": {
                  "user": {
                    "id": "123456789012345678",
                    "username": "playerone",
                    "nickname": "P1",
                    "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                    "banner": "https://i.snipp.gg/banners/123456789012345678/1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f.png",
                    "bio": "Shipping clips daily",
                    "socials": {
                      "github": "https://github.com/playerone"
                    },
                    "plan": "plus",
                    "verified": false,
                    "staff": false,
                    "partner": false,
                    "translator": false,
                    "bug_hunter_tier": 0,
                    "suspended": false,
                    "created_at": "2026-01-04T09:30:00.000Z",
                    "custom_embed": null,
                    "follower_count": 128,
                    "following_count": 47,
                    "following": false,
                    "blocking": false,
                    "api_key": "aB3xK9mP2qR7sT1vW4yZ6cD8fG0hJ5kL",
                    "key_has_uploads_access": true,
                    "relay_key": "Zy7wV4uT1sR8qP5nM2kJ9hG6fD3bC0aX",
                    "upload_count": 42,
                    "limits": {
                      "max_file_size": 21474836480,
                      "usage": {
                        "used": 1073741824,
                        "limit": 21474836480,
                        "used_percent": 5,
                        "resets_at": "2026-10-04T16:20:00.000Z"
                      },
                      "priority_minutes": {
                        "used": 12,
                        "limit": 100,
                        "used_percent": 12,
                        "resets_at": "2026-10-19T16:20:00.000Z"
                      }
                    },
                    "theme": "pastel_blue",
                    "subscription": {
                      "status": "active",
                      "started_at": "2026-01-04T09:30:00.000Z",
                      "expires_at": "2026-11-04T09:30:00.000Z",
                      "cancel_at_period_end": false,
                      "gifted": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/users/{id}/posts": {
      "get": {
        "summary": "List User Posts",
        "description": "List a user's public posts, newest first. Unlisted, private, draft, team, moderated and restricted posts are never included.",
        "operationId": "listUserPosts",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostPage"
                },
                "example": {
                  "posts": [
                    {
                      "code": "QwEr5678",
                      "url": "https://snipp.gg/p/QwEr5678",
                      "title": "Launch teaser",
                      "description": null,
                      "privacy": "public",
                      "created_at": "2026-09-28T10:00:00.000Z",
                      "view_count": 311,
                      "like_count": 17,
                      "comment_count": 2,
                      "priority": false,
                      "file_count": 1,
                      "files": [
                        {
                          "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                          "url": "https://i.snipp.gg/987654321098765432/a1b2c3d4e5f6789012345678abcdef01.png",
                          "size": 2487312,
                          "mime_type": "image/png",
                          "width": 1920,
                          "height": 1080,
                          "thumbnail_url": null
                        }
                      ],
                      "team_id": null,
                      "author": {
                        "id": "987654321098765432",
                        "username": "playertwo",
                        "nickname": "Player Two",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "verified": false,
                        "plan": "free"
                      },
                      "liked": false
                    }
                  ],
                  "has_more": true,
                  "next_cursor": "eyJ0IjoiMjAyNi0wOS0yOFQxMDowMDowMC4wMDBaIiwiayI6IlF3RXI1Njc4In0"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/users/{id}/report": {
      "post": {
        "summary": "Report User",
        "description": "Report a user to the moderation team.",
        "operationId": "reportUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Optional, up to 200 characters."
                  }
                }
              },
              "example": {
                "reason": "Inappropriate content"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reported": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "reported"
                  ]
                },
                "example": {
                  "reported": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/users/{id}/avatar": {
      "post": {
        "summary": "Upload Avatar",
        "description": "Upload a new avatar. PNG, JPG, WebP or GIF up to 30 MB. `id` must be `@me` or your own ID.",
        "operationId": "uploadAvatar",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/SelfUser"
                    }
                  },
                  "required": [
                    "user"
                  ]
                },
                "example": {
                  "user": {
                    "id": "123456789012345678",
                    "username": "playerone",
                    "nickname": "Player One",
                    "avatar": "https://i.snipp.gg/avatars/123456789012345678/8f9e0d1c2b3a49586a7b8c9d0e1f2a3b.png",
                    "banner": "https://i.snipp.gg/banners/123456789012345678/1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f.png",
                    "bio": "Building things at Snipp",
                    "socials": {
                      "github": "https://github.com/playerone"
                    },
                    "plan": "plus",
                    "verified": false,
                    "staff": false,
                    "partner": false,
                    "translator": false,
                    "bug_hunter_tier": 0,
                    "suspended": false,
                    "created_at": "2026-01-04T09:30:00.000Z",
                    "custom_embed": null,
                    "follower_count": 128,
                    "following_count": 47,
                    "following": false,
                    "blocking": false,
                    "api_key": "aB3xK9mP2qR7sT1vW4yZ6cD8fG0hJ5kL",
                    "key_has_uploads_access": true,
                    "relay_key": "Zy7wV4uT1sR8qP5nM2kJ9hG6fD3bC0aX",
                    "upload_count": 42,
                    "limits": {
                      "max_file_size": 21474836480,
                      "usage": {
                        "used": 1073741824,
                        "limit": 21474836480,
                        "used_percent": 5,
                        "resets_at": "2026-10-04T16:20:00.000Z"
                      },
                      "priority_minutes": {
                        "used": 12,
                        "limit": 100,
                        "used_percent": 12,
                        "resets_at": "2026-10-19T16:20:00.000Z"
                      }
                    },
                    "theme": "pastel_blue",
                    "subscription": {
                      "status": "active",
                      "started_at": "2026-01-04T09:30:00.000Z",
                      "expires_at": "2026-11-04T09:30:00.000Z",
                      "cancel_at_period_end": false,
                      "gifted": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "413": {
            "$ref": "#/components/responses/E413"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      },
      "delete": {
        "summary": "Remove Avatar",
        "description": "Remove your avatar. `id` must be `@me` or your own ID.",
        "operationId": "removeAvatar",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/SelfUser"
                    }
                  },
                  "required": [
                    "user"
                  ]
                },
                "example": {
                  "user": {
                    "id": "123456789012345678",
                    "username": "playerone",
                    "nickname": "Player One",
                    "avatar": "https://cdn.snipp.gg/avatar.png",
                    "banner": "https://i.snipp.gg/banners/123456789012345678/1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f.png",
                    "bio": "Building things at Snipp",
                    "socials": {
                      "github": "https://github.com/playerone"
                    },
                    "plan": "plus",
                    "verified": false,
                    "staff": false,
                    "partner": false,
                    "translator": false,
                    "bug_hunter_tier": 0,
                    "suspended": false,
                    "created_at": "2026-01-04T09:30:00.000Z",
                    "custom_embed": null,
                    "follower_count": 128,
                    "following_count": 47,
                    "following": false,
                    "blocking": false,
                    "api_key": "aB3xK9mP2qR7sT1vW4yZ6cD8fG0hJ5kL",
                    "key_has_uploads_access": true,
                    "relay_key": "Zy7wV4uT1sR8qP5nM2kJ9hG6fD3bC0aX",
                    "upload_count": 42,
                    "limits": {
                      "max_file_size": 21474836480,
                      "usage": {
                        "used": 1073741824,
                        "limit": 21474836480,
                        "used_percent": 5,
                        "resets_at": "2026-10-04T16:20:00.000Z"
                      },
                      "priority_minutes": {
                        "used": 12,
                        "limit": 100,
                        "used_percent": 12,
                        "resets_at": "2026-10-19T16:20:00.000Z"
                      }
                    },
                    "theme": "pastel_blue",
                    "subscription": {
                      "status": "active",
                      "started_at": "2026-01-04T09:30:00.000Z",
                      "expires_at": "2026-11-04T09:30:00.000Z",
                      "cancel_at_period_end": false,
                      "gifted": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/users/{id}/banner": {
      "post": {
        "summary": "Upload Banner",
        "description": "Upload a new banner. PNG, JPG, WebP or GIF up to 30 MB. `id` must be `@me` or your own ID.",
        "operationId": "uploadBanner",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/SelfUser"
                    }
                  },
                  "required": [
                    "user"
                  ]
                },
                "example": {
                  "user": {
                    "id": "123456789012345678",
                    "username": "playerone",
                    "nickname": "Player One",
                    "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                    "banner": "https://i.snipp.gg/banners/123456789012345678/2b3c4d5e6f708192a3b4c5d6e7f80910.png",
                    "bio": "Building things at Snipp",
                    "socials": {
                      "github": "https://github.com/playerone"
                    },
                    "plan": "plus",
                    "verified": false,
                    "staff": false,
                    "partner": false,
                    "translator": false,
                    "bug_hunter_tier": 0,
                    "suspended": false,
                    "created_at": "2026-01-04T09:30:00.000Z",
                    "custom_embed": null,
                    "follower_count": 128,
                    "following_count": 47,
                    "following": false,
                    "blocking": false,
                    "api_key": "aB3xK9mP2qR7sT1vW4yZ6cD8fG0hJ5kL",
                    "key_has_uploads_access": true,
                    "relay_key": "Zy7wV4uT1sR8qP5nM2kJ9hG6fD3bC0aX",
                    "upload_count": 42,
                    "limits": {
                      "max_file_size": 21474836480,
                      "usage": {
                        "used": 1073741824,
                        "limit": 21474836480,
                        "used_percent": 5,
                        "resets_at": "2026-10-04T16:20:00.000Z"
                      },
                      "priority_minutes": {
                        "used": 12,
                        "limit": 100,
                        "used_percent": 12,
                        "resets_at": "2026-10-19T16:20:00.000Z"
                      }
                    },
                    "theme": "pastel_blue",
                    "subscription": {
                      "status": "active",
                      "started_at": "2026-01-04T09:30:00.000Z",
                      "expires_at": "2026-11-04T09:30:00.000Z",
                      "cancel_at_period_end": false,
                      "gifted": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "413": {
            "$ref": "#/components/responses/E413"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      },
      "delete": {
        "summary": "Remove Banner",
        "description": "Remove your banner. `id` must be `@me` or your own ID.",
        "operationId": "removeBanner",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/SelfUser"
                    }
                  },
                  "required": [
                    "user"
                  ]
                },
                "example": {
                  "user": {
                    "id": "123456789012345678",
                    "username": "playerone",
                    "nickname": "Player One",
                    "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                    "banner": null,
                    "bio": "Building things at Snipp",
                    "socials": {
                      "github": "https://github.com/playerone"
                    },
                    "plan": "plus",
                    "verified": false,
                    "staff": false,
                    "partner": false,
                    "translator": false,
                    "bug_hunter_tier": 0,
                    "suspended": false,
                    "created_at": "2026-01-04T09:30:00.000Z",
                    "custom_embed": null,
                    "follower_count": 128,
                    "following_count": 47,
                    "following": false,
                    "blocking": false,
                    "api_key": "aB3xK9mP2qR7sT1vW4yZ6cD8fG0hJ5kL",
                    "key_has_uploads_access": true,
                    "relay_key": "Zy7wV4uT1sR8qP5nM2kJ9hG6fD3bC0aX",
                    "upload_count": 42,
                    "limits": {
                      "max_file_size": 21474836480,
                      "usage": {
                        "used": 1073741824,
                        "limit": 21474836480,
                        "used_percent": 5,
                        "resets_at": "2026-10-04T16:20:00.000Z"
                      },
                      "priority_minutes": {
                        "used": 12,
                        "limit": 100,
                        "used_percent": 12,
                        "resets_at": "2026-10-19T16:20:00.000Z"
                      }
                    },
                    "theme": "pastel_blue",
                    "subscription": {
                      "status": "active",
                      "started_at": "2026-01-04T09:30:00.000Z",
                      "expires_at": "2026-11-04T09:30:00.000Z",
                      "cancel_at_period_end": false,
                      "gifted": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/users/{id}/follow": {
      "post": {
        "summary": "Follow User",
        "description": "Follow a user. Following someone you already follow succeeds.",
        "operationId": "followUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "following": {
                      "type": "boolean"
                    },
                    "follower_count": {
                      "type": "integer",
                      "description": "The target's follower count after the call."
                    }
                  },
                  "required": [
                    "following",
                    "follower_count"
                  ]
                },
                "example": {
                  "following": true,
                  "follower_count": 13
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      },
      "delete": {
        "summary": "Unfollow User",
        "description": "Stop following a user. Unfollowing someone you do not follow succeeds.",
        "operationId": "unfollowUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "following": {
                      "type": "boolean"
                    },
                    "follower_count": {
                      "type": "integer",
                      "description": "The target's follower count after the call."
                    }
                  },
                  "required": [
                    "following",
                    "follower_count"
                  ]
                },
                "example": {
                  "following": false,
                  "follower_count": 12
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/users/{id}/followers/{follower_id}": {
      "delete": {
        "summary": "Remove Follower",
        "description": "Remove a user from your followers. `id` must be `@me` or your own ID.",
        "operationId": "removeFollower",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/FollowerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "deleted"
                  ]
                },
                "example": {
                  "id": "987654321098765432",
                  "deleted": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/users/{id}/followers": {
      "get": {
        "summary": "List Followers",
        "description": "List the users following a profile, newest first.",
        "operationId": "listFollowers",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FollowUser"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "users",
                    "has_more",
                    "next_cursor"
                  ]
                },
                "example": {
                  "users": [
                    {
                      "id": "555555555555555555",
                      "username": "alice",
                      "nickname": "Alice",
                      "avatar": "https://i.snipp.gg/avatars/555555555555555555/0a1b2c3d4e5f60718293a4b5c6d7e8f9.webp",
                      "verified": true,
                      "plan": "ultra",
                      "following": true
                    },
                    {
                      "id": "987654321098765432",
                      "username": "playertwo",
                      "nickname": "Player Two",
                      "avatar": "https://cdn.snipp.gg/avatar.png",
                      "verified": false,
                      "plan": "free",
                      "following": false
                    }
                  ],
                  "has_more": true,
                  "next_cursor": "eyJ0IjoiMjAyNi0wOS0xMlQwODozMDowMC4wMDBaIiwiayI6IjQyMTcifQ"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/users/{id}/following": {
      "get": {
        "summary": "List Following",
        "description": "List the users a profile follows, newest first.",
        "operationId": "listFollowing",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FollowUser"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "users",
                    "has_more",
                    "next_cursor"
                  ]
                },
                "example": {
                  "users": [
                    {
                      "id": "555555555555555555",
                      "username": "alice",
                      "nickname": "Alice",
                      "avatar": "https://i.snipp.gg/avatars/555555555555555555/0a1b2c3d4e5f60718293a4b5c6d7e8f9.webp",
                      "verified": true,
                      "plan": "ultra",
                      "following": true
                    },
                    {
                      "id": "987654321098765432",
                      "username": "playertwo",
                      "nickname": "Player Two",
                      "avatar": "https://cdn.snipp.gg/avatar.png",
                      "verified": false,
                      "plan": "free",
                      "following": false
                    }
                  ],
                  "has_more": true,
                  "next_cursor": "eyJ0IjoiMjAyNi0wOS0xMlQwODozMDowMC4wMDBaIiwiayI6IjQyMTcifQ"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/users/{id}/block": {
      "post": {
        "summary": "Block User",
        "description": "Block a user. Also removes any follow between you, both ways.",
        "operationId": "blockUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocking": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "blocking"
                  ]
                },
                "example": {
                  "blocking": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      },
      "delete": {
        "summary": "Unblock User",
        "description": "Unblock a user. Unblocking someone you do not block succeeds.",
        "operationId": "unblockUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocking": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "blocking"
                  ]
                },
                "example": {
                  "blocking": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/users/{id}/blocks": {
      "get": {
        "summary": "List Blocks",
        "description": "List the users you block, newest first. `id` must be `@me` or your own ID.",
        "operationId": "listBlocks",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Block"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "blocks",
                    "has_more",
                    "next_cursor"
                  ]
                },
                "example": {
                  "blocks": [
                    {
                      "user": {
                        "id": "987654321098765432",
                        "username": "playertwo",
                        "nickname": "Player Two",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "verified": false,
                        "plan": "free"
                      },
                      "created_at": "2026-09-14T11:20:05.000Z"
                    }
                  ],
                  "has_more": false,
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/upload": {
      "post": {
        "summary": "Upload Files",
        "description": "Upload 1 to 50 images or videos. Every upload creates a post. Two or more files form one album unless `post-type: individual` is sent.",
        "operationId": "upload",
        "parameters": [
          {
            "name": "post-privacy",
            "in": "header",
            "required": false,
            "description": "`public`, `unlisted` or `private`. Omitted means `private`.",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "unlisted",
                "private"
              ],
              "default": "private"
            }
          },
          {
            "name": "post-type",
            "in": "header",
            "required": false,
            "description": "`album` or `individual`. Only matters for two or more files.",
            "schema": {
              "type": "string",
              "enum": [
                "album",
                "individual"
              ],
              "default": "album"
            }
          },
          {
            "$ref": "#/components/parameters/IncludeMetadata"
          },
          {
            "$ref": "#/components/parameters/Priority"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "1 to 50 files. Repeat the `file` field."
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Up to 30 characters."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Up to 200 characters."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Direct URL of the first file (`post.files[0].url`)."
                        },
                        "post": {
                          "$ref": "#/components/schemas/Post"
                        },
                        "failed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FailedFile"
                          }
                        }
                      },
                      "required": [
                        "url",
                        "post"
                      ],
                      "description": "One post was created."
                    },
                    {
                      "type": "object",
                      "properties": {
                        "posts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Post"
                          }
                        },
                        "failed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FailedFile"
                          }
                        }
                      },
                      "required": [
                        "posts"
                      ],
                      "description": "Several posts were created (`post-type: individual`)."
                    }
                  ]
                },
                "examples": {
                  "single": {
                    "summary": "One file",
                    "value": {
                      "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                      "post": {
                        "code": "AbCd1234",
                        "url": "https://snipp.gg/p/AbCd1234",
                        "title": "my gaming POV",
                        "description": null,
                        "privacy": "unlisted",
                        "created_at": "2026-10-01T09:15:27.204Z",
                        "view_count": 0,
                        "like_count": 0,
                        "comment_count": 0,
                        "priority": false,
                        "file_count": 1,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": null,
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                          "verified": false,
                          "plan": "plus"
                        },
                        "liked": false,
                        "moderated": false,
                        "restricted": false
                      }
                    }
                  },
                  "album": {
                    "summary": "Album",
                    "value": {
                      "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                      "post": {
                        "code": "AlBm5678",
                        "url": "https://snipp.gg/p/AlBm5678",
                        "title": "Match highlights",
                        "description": null,
                        "privacy": "public",
                        "created_at": "2026-10-01T09:15:27.204Z",
                        "view_count": 0,
                        "like_count": 0,
                        "comment_count": 0,
                        "priority": false,
                        "file_count": 2,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          },
                          {
                            "name": "b2c3d4e5f6789012345678abcdef0102.png",
                            "url": "https://i.snipp.gg/123456789012345678/b2c3d4e5f6789012345678abcdef0102.png",
                            "size": 1843210,
                            "mime_type": "image/png",
                            "width": 1280,
                            "height": 720,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": null,
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                          "verified": false,
                          "plan": "plus"
                        },
                        "liked": false,
                        "moderated": false,
                        "restricted": false
                      }
                    }
                  },
                  "individual": {
                    "summary": "Individual posts with a failed file",
                    "value": {
                      "posts": [
                        {
                          "code": "InDv0001",
                          "url": "https://snipp.gg/p/InDv0001",
                          "title": null,
                          "description": null,
                          "privacy": "public",
                          "created_at": "2026-10-01T09:15:27.204Z",
                          "view_count": 0,
                          "like_count": 0,
                          "comment_count": 0,
                          "priority": false,
                          "file_count": 1,
                          "files": [
                            {
                              "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                              "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                              "size": 2487312,
                              "mime_type": "image/png",
                              "width": 1920,
                              "height": 1080,
                              "thumbnail_url": null
                            }
                          ],
                          "team_id": null,
                          "author": {
                            "id": "123456789012345678",
                            "username": "playerone",
                            "nickname": "Player One",
                            "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                            "verified": false,
                            "plan": "plus"
                          },
                          "liked": false,
                          "moderated": false,
                          "restricted": false
                        },
                        {
                          "code": "InDv0002",
                          "url": "https://snipp.gg/p/InDv0002",
                          "title": null,
                          "description": null,
                          "privacy": "public",
                          "created_at": "2026-10-01T09:15:27.204Z",
                          "view_count": 0,
                          "like_count": 0,
                          "comment_count": 0,
                          "priority": false,
                          "file_count": 1,
                          "files": [
                            {
                              "name": "b2c3d4e5f6789012345678abcdef0102.png",
                              "url": "https://i.snipp.gg/123456789012345678/b2c3d4e5f6789012345678abcdef0102.png",
                              "size": 1843210,
                              "mime_type": "image/png",
                              "width": 1280,
                              "height": 720,
                              "thumbnail_url": null
                            }
                          ],
                          "team_id": null,
                          "author": {
                            "id": "123456789012345678",
                            "username": "playerone",
                            "nickname": "Player One",
                            "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                            "verified": false,
                            "plan": "plus"
                          },
                          "liked": false,
                          "moderated": false,
                          "restricted": false
                        }
                      ],
                      "failed": [
                        {
                          "index": 2,
                          "error": {
                            "type": "quota_exceeded",
                            "message": "Weekly usage limit exceeded.",
                            "quota": 21474836480,
                            "used": 21470000000,
                            "resets_at": "2026-10-04T16:20:00.000Z"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "413": {
            "$ref": "#/components/responses/E413"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "summary": "List Posts",
        "description": "List your personal posts, newest first. Requires gallery access on the key.",
        "operationId": "listPosts",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostPage"
                },
                "example": {
                  "posts": [
                    {
                      "code": "AbCd1234",
                      "url": "https://snipp.gg/p/AbCd1234",
                      "title": "Nice shot",
                      "description": null,
                      "privacy": "unlisted",
                      "created_at": "2026-09-30T18:42:11.512Z",
                      "view_count": 128,
                      "like_count": 42,
                      "comment_count": 3,
                      "priority": false,
                      "file_count": 1,
                      "files": [
                        {
                          "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                          "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                          "size": 2487312,
                          "mime_type": "image/png",
                          "width": 1920,
                          "height": 1080,
                          "thumbnail_url": null
                        }
                      ],
                      "team_id": null,
                      "author": {
                        "id": "123456789012345678",
                        "username": "playerone",
                        "nickname": "Player One",
                        "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                        "verified": false,
                        "plan": "plus"
                      },
                      "liked": false,
                      "moderated": false,
                      "restricted": false
                    },
                    {
                      "code": "ZxCv9012",
                      "url": "https://snipp.gg/p/ZxCv9012",
                      "title": null,
                      "description": null,
                      "privacy": "private",
                      "created_at": "2026-09-28T10:00:00.000Z",
                      "view_count": 0,
                      "like_count": 0,
                      "comment_count": 0,
                      "priority": true,
                      "file_count": 1,
                      "files": [
                        {
                          "name": "c3d4e5f6789012345678abcdef010203.mp4",
                          "url": "https://i.snipp.gg/123456789012345678/c3d4e5f6789012345678abcdef010203.mp4?e=1790035200&s=9f2c4b7d1e8a3f6c0b5d2e9a7c4f1b8e3d6a0c9f2b5e8d1a4c7f0b3e6d9a2c5f",
                          "size": 48213904,
                          "mime_type": "video/mp4",
                          "width": 1920,
                          "height": 1080,
                          "thumbnail_url": "https://i.snipp.gg/123456789012345678/thumb/d4e5f6789012345678abcdef01020304.jpg?e=1790035200&s=9f2c4b7d1e8a3f6c0b5d2e9a7c4f1b8e3d6a0c9f2b5e8d1a4c7f0b3e6d9a2c5f"
                        }
                      ],
                      "team_id": null,
                      "author": {
                        "id": "123456789012345678",
                        "username": "playerone",
                        "nickname": "Player One",
                        "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                        "verified": false,
                        "plan": "plus"
                      },
                      "liked": false,
                      "moderated": false,
                      "restricted": false
                    }
                  ],
                  "has_more": true,
                  "next_cursor": "eyJ0IjoiMjAyNi0wOS0yOFQxMDowMDowMC4wMDBaIiwiayI6IlF3RXI1Njc4In0"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/posts/{code}": {
      "get": {
        "summary": "Get Post",
        "description": "Fetch a post by its share code.",
        "operationId": "getPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  },
                  "required": [
                    "post"
                  ]
                },
                "examples": {
                  "owner": {
                    "summary": "Owner",
                    "value": {
                      "post": {
                        "code": "AbCd1234",
                        "url": "https://snipp.gg/p/AbCd1234",
                        "title": "Nice shot",
                        "description": null,
                        "privacy": "private",
                        "created_at": "2026-09-30T18:42:11.512Z",
                        "view_count": 0,
                        "like_count": 0,
                        "comment_count": 0,
                        "priority": false,
                        "file_count": 1,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png?e=1790035200&s=9f2c4b7d1e8a3f6c0b5d2e9a7c4f1b8e3d6a0c9f2b5e8d1a4c7f0b3e6d9a2c5f",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": null,
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                          "verified": false,
                          "plan": "plus"
                        },
                        "liked": false,
                        "moderated": false,
                        "restricted": false,
                        "access": [
                          {
                            "id": "987654321098765432",
                            "username": "playertwo",
                            "nickname": "Player Two",
                            "avatar": "https://cdn.snipp.gg/avatar.png",
                            "verified": false,
                            "plan": "free",
                            "suspended": false
                          }
                        ]
                      }
                    }
                  },
                  "other": {
                    "summary": "Another user's post",
                    "value": {
                      "post": {
                        "code": "QwEr5678",
                        "url": "https://snipp.gg/p/QwEr5678",
                        "title": "Launch teaser",
                        "description": null,
                        "privacy": "public",
                        "created_at": "2026-09-28T10:00:00.000Z",
                        "view_count": 311,
                        "like_count": 17,
                        "comment_count": 2,
                        "priority": false,
                        "file_count": 1,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/987654321098765432/a1b2c3d4e5f6789012345678abcdef01.png",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": null,
                        "author": {
                          "id": "987654321098765432",
                          "username": "playertwo",
                          "nickname": "Player Two",
                          "avatar": "https://cdn.snipp.gg/avatar.png",
                          "verified": false,
                          "plan": "free"
                        },
                        "liked": true
                      }
                    }
                  },
                  "team": {
                    "summary": "Team post",
                    "value": {
                      "post": {
                        "code": "TeAm1357",
                        "url": "https://snipp.gg/p/TeAm1357",
                        "title": "Sprint review",
                        "description": null,
                        "privacy": "private",
                        "created_at": "2026-09-30T18:42:11.512Z",
                        "view_count": 0,
                        "like_count": null,
                        "comment_count": 1,
                        "priority": false,
                        "file_count": 1,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/team-246813579246813579/a1b2c3d4e5f6789012345678abcdef01.png?e=1790035200&s=9f2c4b7d1e8a3f6c0b5d2e9a7c4f1b8e3d6a0c9f2b5e8d1a4c7f0b3e6d9a2c5f",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": "246813579246813579",
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                          "verified": false,
                          "plan": "plus"
                        },
                        "liked": null,
                        "moderated": false,
                        "restricted": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      },
      "patch": {
        "summary": "Update Post",
        "description": "Change a post's title, description or privacy. Relay also accepts `priority` and `access`.",
        "operationId": "updatePost",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Empty string or `null` clears it.",
                    "nullable": true
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Empty string or `null` clears it.",
                    "nullable": true
                  },
                  "privacy": {
                    "type": "string",
                    "enum": [
                      "public",
                      "unlisted",
                      "private"
                    ]
                  },
                  "priority": {
                    "type": "boolean",
                    "description": "Turn priority streaming on or off for the post's videos."
                  },
                  "access": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10,
                    "description": "Usernames who can open the post while private. Replaces the list."
                  }
                }
              },
              "example": {
                "title": "New title",
                "access": [
                  "playertwo",
                  "alice"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    }
                  },
                  "required": [
                    "post"
                  ]
                },
                "example": {
                  "post": {
                    "code": "AbCd1234",
                    "url": "https://snipp.gg/p/AbCd1234",
                    "title": "New title",
                    "description": null,
                    "privacy": "private",
                    "created_at": "2026-09-30T18:42:11.512Z",
                    "view_count": 0,
                    "like_count": 0,
                    "comment_count": 0,
                    "priority": false,
                    "file_count": 1,
                    "files": [
                      {
                        "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                        "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png?e=1790035200&s=9f2c4b7d1e8a3f6c0b5d2e9a7c4f1b8e3d6a0c9f2b5e8d1a4c7f0b3e6d9a2c5f",
                        "size": 2487312,
                        "mime_type": "image/png",
                        "width": 1920,
                        "height": 1080,
                        "thumbnail_url": null
                      }
                    ],
                    "team_id": null,
                    "author": {
                      "id": "123456789012345678",
                      "username": "playerone",
                      "nickname": "Player One",
                      "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                      "verified": false,
                      "plan": "plus"
                    },
                    "liked": false,
                    "moderated": false,
                    "restricted": false,
                    "access": [
                      {
                        "id": "987654321098765432",
                        "username": "playertwo",
                        "nickname": "Player Two",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "verified": false,
                        "plan": "free",
                        "suspended": false
                      },
                      {
                        "id": "555555555555555555",
                        "username": "alice",
                        "nickname": "Alice",
                        "avatar": "https://i.snipp.gg/avatars/555555555555555555/0a1b2c3d4e5f60718293a4b5c6d7e8f9.webp",
                        "verified": true,
                        "plan": "ultra",
                        "suspended": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      },
      "delete": {
        "summary": "Delete Post",
        "description": "Delete a post and every file in it.",
        "operationId": "deletePost",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "deleted"
                  ]
                },
                "example": {
                  "code": "AbCd1234",
                  "deleted": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/posts/{code}/files": {
      "post": {
        "summary": "Add Files",
        "description": "Add files to an existing post. Posts hold up to 50 files.",
        "operationId": "addFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          },
          {
            "$ref": "#/components/parameters/IncludeMetadata"
          },
          {
            "$ref": "#/components/parameters/Priority"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "One or more files. Repeat the `file` field."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/Post"
                    },
                    "failed": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FailedFile"
                      }
                    }
                  },
                  "required": [
                    "post"
                  ]
                },
                "examples": {
                  "all": {
                    "summary": "All files stored",
                    "value": {
                      "post": {
                        "code": "AlBm5678",
                        "url": "https://snipp.gg/p/AlBm5678",
                        "title": "Match highlights",
                        "description": null,
                        "privacy": "public",
                        "created_at": "2026-09-30T18:42:11.512Z",
                        "view_count": 128,
                        "like_count": 42,
                        "comment_count": 3,
                        "priority": false,
                        "file_count": 3,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          },
                          {
                            "name": "b2c3d4e5f6789012345678abcdef0102.png",
                            "url": "https://i.snipp.gg/123456789012345678/b2c3d4e5f6789012345678abcdef0102.png",
                            "size": 1843210,
                            "mime_type": "image/png",
                            "width": 1280,
                            "height": 720,
                            "thumbnail_url": null
                          },
                          {
                            "name": "f6789012345678abcdef010203040506.png",
                            "url": "https://i.snipp.gg/123456789012345678/f6789012345678abcdef010203040506.png",
                            "size": 912384,
                            "mime_type": "image/png",
                            "width": 1080,
                            "height": 1920,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": null,
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                          "verified": false,
                          "plan": "plus"
                        },
                        "liked": false,
                        "moderated": false,
                        "restricted": false
                      }
                    }
                  },
                  "partial": {
                    "summary": "One file failed",
                    "value": {
                      "post": {
                        "code": "AlBm5678",
                        "url": "https://snipp.gg/p/AlBm5678",
                        "title": "Match highlights",
                        "description": null,
                        "privacy": "public",
                        "created_at": "2026-09-30T18:42:11.512Z",
                        "view_count": 128,
                        "like_count": 42,
                        "comment_count": 3,
                        "priority": false,
                        "file_count": 2,
                        "files": [
                          {
                            "name": "a1b2c3d4e5f6789012345678abcdef01.png",
                            "url": "https://i.snipp.gg/123456789012345678/a1b2c3d4e5f6789012345678abcdef01.png",
                            "size": 2487312,
                            "mime_type": "image/png",
                            "width": 1920,
                            "height": 1080,
                            "thumbnail_url": null
                          },
                          {
                            "name": "b2c3d4e5f6789012345678abcdef0102.png",
                            "url": "https://i.snipp.gg/123456789012345678/b2c3d4e5f6789012345678abcdef0102.png",
                            "size": 1843210,
                            "mime_type": "image/png",
                            "width": 1280,
                            "height": 720,
                            "thumbnail_url": null
                          }
                        ],
                        "team_id": null,
                        "author": {
                          "id": "123456789012345678",
                          "username": "playerone",
                          "nickname": "Player One",
                          "avatar": "https://i.snipp.gg/avatars/123456789012345678/7e1f0a2b3c4d5e6f708192a3b4c5d6e7.png",
                          "verified": false,
                          "plan": "plus"
                        },
                        "liked": false,
                        "moderated": false,
                        "restricted": false
                      },
                      "failed": [
                        {
                          "index": 1,
                          "error": {
                            "type": "unsupported_type",
                            "message": "Unsupported file type."
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "413": {
            "$ref": "#/components/responses/E413"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/posts/{code}/files/{name}": {
      "delete": {
        "summary": "Delete File",
        "description": "Remove one file from a post. Removing the last file deletes the post.",
        "operationId": "deleteFile",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          },
          {
            "$ref": "#/components/parameters/FileName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "name",
                    "deleted"
                  ]
                },
                "example": {
                  "name": "b2c3d4e5f6789012345678abcdef0102.png",
                  "deleted": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/posts/{code}/report": {
      "post": {
        "summary": "Report Post",
        "description": "Report a post to the moderation team.",
        "operationId": "reportPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Optional, up to 200 characters."
                  }
                }
              },
              "example": {
                "reason": "Inappropriate content"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reported": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "reported"
                  ]
                },
                "example": {
                  "reported": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
          },
          "500": {
            "$ref": "#/components/responses/E500"
          }
        }
      }
    },
    "/posts/{code}/like": {
      "post": {
        "summary": "Like Post",
        "description": "Like a post. Liking twice keeps it liked.",
        "operationId": "likePost",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "liked": {
                      "type": "boolean"
                    },
                    "like_count": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "liked",
                    "like_count"
                  ]
                },
                "example": {
                  "liked": true,
                  "like_count": 43
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/E400"
          },
          "401": {
            "$ref": "#/components/responses/E401"
          },
          "403": {
            "$ref": "#/components/responses/E403"
          },
          "404": {
            "$ref": "#/components/responses/E404"
          },
          "405": {
            "$ref": "#/components/responses/E405"
          },
          "429": {
            "$ref": "#/components/responses/E429"
[...]
